* {
  box-sizing: border-box;
  outline: none;
}
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
body {
  font-family: "Open Sans";
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focud {
  text-decoration: none;
}
.header {
  background: url("../img/header_bg.png") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.header_logo {
  margin-top: 55px;
}
.header_block {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
@media only screen and (max-width: 768px) {
  .header_block {
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.header_block_title {
  font-size: 60px;
  color: #fff;
}
@media only screen and (max-width: 480px) {
  .header_block_title {
    font-size: 50px;
  }
}
@media only screen and (max-width: 400px) {
  .header_block_title {
    font-size: 40px;
  }
}
.header_block_subtitle {
  margin-top: 20px;
  font-size: 13px;
  color: #fff;
  line-height: 2;
}
@media only screen and (max-width: 480px) {
  .header_block_subtitle br {
    display: none;
  }
}
.header_phone {
  position: absolute;
  top: 75%;
  right: 35%;
  transform: translate(50%, -50%);
}
.header_phone img {
  max-height: 850px;
}
@media only screen and (max-width: 768px) {
  .header_phone {
    display: none;
  }
}
.header_mark {
  position: absolute;
  bottom: 45%;
  left: -50px;
  transform: rotate(-90deg);
}
@media only screen and (max-width: 1024px) {
  .header_mark {
    display: none;
  }
}
.header_mark_link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.header_mark_link:hover {
  color: #fff;
}
.header_mark_link:focus {
  color: #fff;
}
.header_mark_span {
  font-weight: 100;
}
.title {
  font-size: 35px;
  color: #222626;
}
.start {
  padding: 100px 0 80px;
  background-color: #fff;
}
.start_block {
  margin-top: 40px;
}
.start_block_box {
  float: left;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .start_block_box {
    float: left;
    width: 100%;
  }
}
.start_block_box p {
  font-size: 14px;
  color: #959595;
  line-height: 1.7;
}
.start_block_box_text {
  margin-top: 20px;
}
.start_block_box-right {
  float: right;
  width: 49%;
  padding-top: 90px;
  padding-left: 30px;
}
@media only screen and (max-width: 1200px) {
  .start_block_box-right {
    padding-top: 110px;
  }
}
@media only screen and (max-width: 992px) {
  .start_block_box-right {
    padding-top: 135px;
  }
}
@media only screen and (max-width: 768px) {
  .start_block_box-right {
    float: left;
    width: 100%;
    padding: 0px;
    margin-top: 20px;
  }
}
.start_block_box-right_text {
  margin-top: 25px;
}
.about {
  background-color: #fff;
}
.about_box {
  float: left;
  width: 33.33%;
  min-height: 288px;
  padding: 50px 40px;
  background-color: #f5989d;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 992px) {
  .about_box {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .about_box {
    width: 100%;
  }
}
.about_box_title {
  font-size: 30px;
  font-weight: 200;
  color: #fff;
}
.about_box_text {
  margin-top: 30px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  line-height: 1.7;
}
.about_box_more {
  display: block;
  margin-top: 40px;
  color: #fff;
  cursor: pointer;
}
.about_box_more_link {
  color: #fff;
  position: relative;
  z-index: 1;
}
.about_box_more_link:hover {
  color: #fff;
  outline: none;
}
.about_box_more_link:focus {
  color: #fff;
  outline: none;
}
.about_box_more_link .arrow {
  margin-left: 10px;
  transition: 0.3s;
}
.about_box_more_like {
  float: right;
  color: #fff;
  position: relative;
  z-index: 2;
}
.about_box_more:hover .arrow {
  margin-left: 15px;
  transition: 0.3s;
}
.about_box-large {
  width: 66.66%;
  background: url("../img/block-image/man.png") center no-repeat;
}
@media only screen and (max-width: 992px) {
  .about_box-large {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .about_box-large {
    width: 100%;
  }
}
.about_box-large:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9,30,40,0.3);
  z-index: -1;
}
.about_box-large .about_box_more {
  margin-top: 60px;
}
@media only screen and (max-width: 1200px) {
  .about_box-large .about_box_more {
    margin-top: 83px;
  }
}
@media only screen and (max-width: 992px) {
  .about_box-large .about_box_more {
    margin-top: 40px;
  }
}
.about_box-violet {
  background-color: #615f7d;
}
.about_box-ice {
  background: url("../img/block-image/ice.png") center no-repeat;
  background-size: cover;
}
.about_box-ice:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9,30,40,0.3);
  z-index: -1;
}
.about_box-purp {
  background-color: #bd8cbf;
  display: none;
}
@media only screen and (max-width: 992px) {
  .about_box-purp {
    display: block;
  }
}
.about_box-lime {
  background-color: #82ca9c;
}
.details {
  padding: 100px 0 160px;
  background-color: #fff;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .details {
    padding: 100px 0 110px;
  }
}
.details_mark {
  position: absolute;
  top: 150px;
  left: -20px;
  transform: rotate(-90deg);
}
@media only screen and (max-width: 1024px) {
  .details_mark {
    display: none;
  }
}
.details_mark_link {
  color: #67676d;
  text-transform: uppercase;
  font-weight: 600;
}
.details_mark_link:hover {
  color: #67676d;
}
.details_mark_link:focus {
  color: #67676d;
}
.details_block {
  margin-top: 70px;
}
.details_block_box {
  float: left;
  width: 25%;
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  .details_block_box {
    width: 50%;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .details_block_box {
    width: 100%;
  }
}
.details_block_box_title {
  font-size: 13px;
  font-weight: 600;
  color: #67676d;
}
.details_block_box_text {
  margin-top: 30px;
  color: #959595;
  line-height: 1.7;
  font-size: 13px;
}
