html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.container{
	width: 500px;
	margin: 0 auto;
}
.search-form{
	padding: 15px;
}
.search-input{
	display: inline-block;
	padding: 10px;
	width: 300px;
	outline: none;
	border: 1px solid black;
	margin: 0;
	height: 40px;
	border-radius: 5px;
}
.btn-search{
	background: yellow;
	border: 0;
	margin: 0;
	height: 40px;
	margin: 0;
	outline: none;
	border: 1px solid black;
	border-radius: 5px;
}

.result-wrap{
	width: 600px;
}
.item{
	padding: 10px 0;
}
.title{
	font-weight: bold;
	text-decoration: none;
	font-size: 15px;
	color: black;
}
.contentBox{
	color:#545454;
}
