<mat-toolbar color="primary">
  <span>
    <a routerLink="/">My App</a>
  </span>
  <span class="spacer"></span>
  <div *ngIf="userIsAuthenticated" class="user">
      <button mat-button [matMenuTriggerFor]="beforeMenu">{{user?.name}}</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <li mat-menu-item routerLink="/create" routerLinkActive="mat-accent">
          New Post
        </li>
        <li mat-menu-item (click)="onLogout()">
          Logout
        </li>
      </mat-menu>
  </div>
  <ul *ngIf="!userIsAuthenticated">
    <li >
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li>
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
  </ul>
</mat-toolbar>
