<mat-toolbar color="primary">
  <span>
    <a routerLink="/">My App</a>
  </span>
  <span class="spacer"></span>
  <ul  *ngIf="userIsAuthenticated" class="header-menu">
    <li >
      <a mat-button routerLink="/posts" routerLinkActive="mat-accent">
        All posts
      </a>
    </li>
    <li >
      <a mat-button routerLink="/myposts" routerLinkActive="mat-accent">  
        My posts
      </a>
    </li>
  </ul>
  <span class="spacer"></span>
  <div *ngIf="userIsAuthenticated" class="user">
    <div class="user-block">
      <button mat-button [matMenuTriggerFor]="beforeMenu">
          <img [src]="user.image" alt="">
          {{user?.name}}
      </button>
    </div>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <li mat-menu-item routerLink="/create" routerLinkActive="mat-accent">
        New post
      </li>
      <li mat-menu-item routerLink="/profile" routerLinkActive="mat-accent">
        Edit profile
      </li>
      <li mat-menu-item (click)="onLogout()">
        Logout
      </li>
    </mat-menu>
  </div>
  <ul *ngIf="!userIsAuthenticated">
    <li >
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li>
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
  </ul>
</mat-toolbar>
