<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel="stylesheet" href="css/application.css">
    <!-- <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script> -->
	<script src="js/tmpl.js"></script>
    <!-- <script src="js/script.js"></script> -->
    <script data-main="js/app" src="js/require.js"></script>
</head>
<body>

	<script type="text/template" id="wrapper-template">
	<div class="warapper">
		<ul class="item-list">
		</ul>
		<div class="controlls">
			<input type="text" class="item-value">
			<button class="item-add">Add</button>
		</div>
	</div>
	</script>

	<script type="text/template" id="list-template">
	<% for(var i = 0; i < data.length; i++) { %>
	<li><%= data[i] %> <span data-value="<%= data[i] %>" class="item-delete"> x</span></li>
	<% }; %>
	</script>
    
</body>
</html>
