.header {
    margin-top: 20px;
    margin-bottom: 30px;
}

.logo:hover {
    cursor: pointer;
}

.socials {
    float: right;
    padding-top: 12px;
    i {
        color: $social;
        margin: 0 10px;
    }
    i:hover {
        color: $socialHover;
        transition: 0.7 all;
        cursor: pointer;
    }
}

.mainmenu_wrap {
    position: relative;
    background-color: $mainMenu;
}

.mainmenu {
    padding: 0;
    &_link {
        float: left;
        list-style: none;
    }
}

.mainmenu_link__btn {
    font-family: 'ubuntu condensed regular', sans-serif;
    font-size: $fontSize-smallest;
    color: $white;
    text-decoration: none;
    padding: 20px 27px;
    display: block;
    border-right: 1px solid $black;
    &:active {
        background-color: $mainMenuActive;
    }
    &:hover {
        text-decoration: none;
        color: $mainMenuHover;
    }
}

.search {
    font-family: 'ubuntu condensed regular', sans-serif;
    font-size: $fontSize-smaller;
    float: right;
    height: 32px;
    width: 245px;
    background: url(../images/lupa.png) 0 0 no-repeat #35383c;
    background-position: 95% 50%;
    border: 1px solid black;
    margin: 8px 7px 0 0;
    padding: 5px;
}
