<mat-card>
  <span *ngIf="!isLoading && !this.responseMessage">Restore password</span>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading && !this.responseMessage"
        (submit)="sendEmailForRestorePass()" 
        [formGroup]="forgotForm" 
        class="changePasswordForm">
    <mat-form-field>
      <input matInput 
             name="email"
             type="email"
             formControlName="email"
             placeholder="Enter your email address">
      <mat-error *ngIf="forgotForm.controls.email.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <button mat-raised-button
            [disabled]="forgotForm.invalid" 
            color="accent" 
            type="submit" 
            >Send</button>
  </form>
  <p *ngIf="responseMessage">{{ responseMessage }}</p>
</mat-card>
