
.main_container {
    display: block;
    width: 700px;
    margin: 0 auto;
    position: relative;
}

.main_container > p {
    text-align: center;
    margin-top: 20px;
    font: 14px/18px "LiberationSans", sans-serif;
    font-weight: bold;
    color: #7d7d7d;
}

.main_container .main_list ul {
    margin-top: 15px;
    padding: 0;
}

.main_container .main_list .list_item {
    display: inline-block;
    font: 14px/18px "LiberationSans", sans-serif;
    font-weight: bold;
    color: #0076cd;
    list-style: none;
}

.main_container .main_list .list_item:first-child {
    padding-left: 40px;
    background: url(../img/car.png) center left no-repeat;
}


.main_container .main_list .list_item:nth-child(2)::before {
    content: ">";
    padding-right: 5px;
}

.main_container .main_list .list_item:last-child::before {
    content: ">";
    padding-right: 5px;
}

.main_container .main_choose {
    display: block;
    position: absolute;
    left: -120px;
    width: 75px;
}

.main_container .main_choose a {
    text-transform: uppercase;
    font: 14px/16px 'Neucha', cursive;
    color: #6c86bf;
    text-decoration: none;
    cursor: pointer;
}

.main_container .main_nameAdv {
    margin-top: 40px;
}

.main_container .main_nameAdv p {
    color: #6f6f6f;
    font: 14px/16px "LiberationSans", sans-serif;
    font-weight: bold;
}

.main_container .main_nameAdv input {
    padding: 7px;
    border: 1px solid #a1b8e6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius:2px;

}

.main_container .main_checkbox {
    width: inherit;
    margin-top: 30px;
    padding: 7px 20px;
    background-color: #f7fcff;
    border: 2px dashed #96caf1;
}

.main_container .main_checkbox span {
    padding: 0 15px 0 5px;
    font: 14px/16px "LiberationSans", sans-serif;
    font-weight: bold;
}

.main_container .main_leftBox {
    float: left;
    width: 50%;
}

.main_container .main_leftBox .main_price {
    margin-top: 20px;
}

.main_container .main_leftBox .main_price p {
    font: 14px/16px "LiberationSans", sans-serif;
    font-weight: bold;
}

.main_container .main_leftBox .main_price input {
    padding: 7px;
    border: 1px solid #a1b8e6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius:2px;
}

.main_container .main_leftBox .main_state {
    width: 100%;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #f7fcff;
    border: 2px dashed #96caf1;
}

.main_container .main_leftBox .main_state .state_change {
    float: right;
    margin-right: 80px;
    font: 14px/16px "LiberationSans", sans-serif;
    font-weight: bold;
}

.main_container .main_leftBox .main_state ul {
    margin: 0;
    padding: 0;
    
}

.main_container .main_leftBox .main_state ul li {
    display: inline-block;
}

.main_container .main_rightBox {
    float: left;
}

.main_container .main_rightBox .rightBox_checkbox {
    margin: 53px 0 0 30px;
    
}

.main_container .main_rightBox .rightBox_checkbox span {
    margin-left: 10px;
    font: 14px/16px "LiberationSans", sans-serif;
    font-weight: bold;

}

.main_container .main_rightBox ul {
    margin: 10px 0 0 20px;
    padding-left: 10px; 
}

.main_container .main_rightBox .main_list_item {
    padding-left: 120px;
    list-style: none;
    background: url(../img/five_stars.png) center left no-repeat;
    font: 16px/20px 'Neucha', cursive;
    text-transform: uppercase;
    color: #6c86bf;
}

.main_container .main_rightBox .main_list_item:nth-child(2) {
    background: url(../img/four_stars.png) center left no-repeat;
}

.main_container .main_rightBox .main_list_item:nth-child(3) {
    background: url(../img/three_stars.png) center left no-repeat;
}

.main_container .main_rightBox .main_list_item:nth-child(4) {
    background: url(../img/two_stars.png) center left no-repeat;
}

.main_container .main_rightBox .main_list_item:last-child {
    background: url(../img/one_star.png) center left no-repeat;
}

.main_container .main_description {
    clear: both;
}

.main_container .main_description p {
    font: 14px/16px "LiberationSans", sans-serif;
    font-weight: bold;
}

.main_container .main_description textarea {
    border: 1px solid #a1bcf0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius:2px;
}

.main_container .main_checkboxDisable {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0 10px 20px;
    background-color: #f7fcff;
    border: 2px dashed #96caf1;
}

.main_container .main_checkboxDisable span {
    margin-left: 10px;
    font: 14px/16px "LiberationSans", sans-serif;
    font-weight: bold;
}