<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup()" [formGroup]="authForm" *ngIf="!isLoading">
      <mat-form-field>
          <input matInput 
                 name="nickname" 
                 type="email"
                  placeholder="Your name" 
                  formControlName="name" 
                  required>
        </mat-form-field>
    <mat-form-field>
      <input matInput 
             name="email"
             type="email" 
             placeholder="E-Mail" 
             formControlName="email" 
             required 
             email>
      <mat-error *ngIf="authForm.controls.email.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" 
             name="password"
             matInput 
             placeholder="Password"
             formControlName="password"
             required>
      <mat-error *ngIf="authForm.controls.password.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" [disabled]="authForm.invalid" *ngIf="!isLoading">Signup</button>
  </form>
</mat-card>
