@import "variables.styl";

*
    box-sizing border-box

body
    font-family 'Avenir Next'
    font-size 14px
    font-weight 400
    user-select none

a
    text-decoration none
    &:hover
        text-decoration none
    &:focus
        text-decoration none
    &:active
        text-decoration none

h1, h2, h3, h4, h5, h6, ul, ol
    padding 0
    margin 0
    list-style none

// HEADER

.header
    min-height 790px
    background url("../img/header/bg.svg") center no-repeat
    @media $ultraB
        background-size cover
    &_image
        float left
        margin-top 78px
        margin-left 30px
        width 130px
        height auto
        @media $ultraB
            float none
            text-align center
            margin 30px auto 0
    &_bio-pool
        text-align center
        margin 0 auto
        position relative
        &_box
            width 680px
            position absolute
            left 66%
            transform translate(-50%, 0)
            @media $ultraB
                position static
                transform translate(0)
                width 100%
        &_consult
            max-width 300px
            margin 50px auto 0
            &_text
                float left
                margin 5px 0 0 16px
                text-align left
                font-size 18px
                color $text
            img
                float left
                width 55px
        &_set
            width 100%
            margin-top 12px
            &_text
                color $text
                font-size 30px
                line-height 33px
                span
                    font-weight 600
    &_form-box
        width 550px
        float left
        margin-top 78px
        padding 40px 29px
        background $bgForm
        border-radius 6px
        position relative
        @media $ultraB
            float none
            width 100%
        &_title
            text-align center
            font-size 18px
            font-weight 300
            line-height 21.6px
            color $white
        &_request
            font-size 18px
            color $white
            text-align center
            font-weight 300
            span
                font-weight 400
        &_form
            margin-top 20px
            &_input
                width 100%
                input
                    width 100%
                    text-align center
                    padding 16px 10px 17px
                    font-size 18px
                    font-weight 300
                    color $white
                    line-height 19.8px
                    background-color transparent
                    border 2px solid $white
                    border-radius 3px
                    outline none
    &_certified
        float left
        margin-top 78px
        margin-left 80px
        height 504px
        position relative
        @media $s1200
            margin-left 20px
        @media $ultraB
            float none
            width 100%
            margin 30px auto 50px
            height auto
        &_box
            padding 23px 30px
            width 430px
            position absolute
            bottom 0
            left 0
            background-color $bgCertified
            border-radius 6px
            @media $ultraB
                width 100%
                position static
        &_block
            text-align center
            width 236px
            margin 0 auto
            img
                float left
            &_title
                margin 5px -13px 0px 0px
                color $textCertified
                font-size 25px
                font-weight 400
                line-height 30px
        &_text
            margin 10px 0 0 0
            text-align center
            font-size 18px
            font-weight 300
            line-height 21.6px
            color $white



.devider
    background  url("../img/header/devider-header.svg")
    width 51px
    height 7px
    margin 14px auto 7px
.devider-dark
    background url("../img/devider-dark.svg")
.submit
    width 100%
    margin-top 8px
    padding 18px
    font-size 30px
    font-weight 500
    line-height 33px
    color $white
    border-radius 4px
    background-image $consultGradient
    border none
    outline none

input::-webkit-input-placeholder
    color $white
input::-moz-placeholder
    color $white
input:-ms-input-placeholder
    color $white
input:-moz-placeholder
    color $white

// BIO

.bio
    &_heading
        text-align center
        height 120px
        background-color $caption
        position relative
        &_text
            color $white
            position absolute
            width 100%
            top 50%
            left 52%
            transform translate(-50%, -50%)
        &:before
            content url("../img/devider-dark.svg")
            position absolute
            top 70%
            @media $tablet
                top 77%
        &:after
            content url("../img/triangle.svg")
            position absolute
            top 118px

// BIO-USEFUL

.bio-useful
    &_block
        padding 40px 0 53px
        background-color $white
        &_image
            float left
            width 54%
            img
                width 100%
            @media $tablet
                float none
                width 100%
        &_info
            float left
            width 46%
            @media $tablet
                float none
                width 100%
            &_list
                margin 42px 0 0 40px
                &_item
                    padding-left 60px
                    font-size 18px
                    font-weight 500
                    line-height 21.6px
                    color $text
                    background url("../img/bio-1.svg") left top no-repeat
                    margin-bottom 50px
                    &:nth-child(2)
                        background url("../img/bio-2.svg") left top no-repeat
                        margin-bottom 20px
                    &:nth-child(3)
                        background url("../img/bio-3.svg") left top no-repeat
                    span
                        color $caption
                    @media $s1200
                        br
                            display none

        &_consult
            clear  both
            padding-top 38px
            text-align center
            &_text
                color $text
                font-size: 30px;
                line-height 36px
                text-align center
                position relative
                left 34px
                @media $tablet
                    position static
.devider-consult
    position relative
    left 29px
    margin 14px auto 12px
    @media $tablet
        position static
.submit-consult
    width 490px
    position relative
    left 40px
    @media $tablet
        width 90%
        position static
        margin 0 auto


// LEARN

.learn
    padding 54px 0 179px
    background url("../img/bg-1.svg") center no-repeat
    @media $ultraB
        background-size cover
    &_box
        float left
        width 560px
        min-height 506px
        background-color $bgForm
        padding 53px 54px 0 20px
        border-radius 8px
        @media $s1200
            width 440px
        @media $ultraB
            float none
            width 90%
            margin 0 auto 30px
    &_box-1
        &_list
            &_item
                padding-left 62px
                margin-bottom 48px
                font-size 20px
                font-weight 500
                line-height 24px
                color $white
                background url("../img/flower.svg") left top no-repeat
            &_image
                text-align center
    &_box-2
        float right
        @media $ultraB
            float none

// HOST

.host
    padding 64px 0 32px
    background-color $white
    position relative
    &_block
        margin-top 10px
        &_list
            margin-left 48px
            margin-top 74px
            &_item
                margin-bottom 22px
                padding-left 36px
                font-size 18px
                font-weight 500
                line-height 21.6px
                position relative
                &:before
                    content url("../img/bio-dot.svg")
                    position absolute
                    top 0
                    left 0
                span
                    color $caption
                @media $tablet
                    br
                        display none
    &_image
        position absolute
        top 127px
        right 121px
        @media $ultraB
            display none

// FREE

.free
    padding 40px 0 30px
    text-align center
    background-color $caption
    &_text
        color $white
        font-weight 300
        font-size 30px
        line-height 36px
        position relative
        left 3%
        span
            font-weight 500
        @media $tablet
            position static
            br
                display none
    .devider
        margin 14px auto 4px
        position relative
        left 28px
        @media $tablet
            position static
            margin 14px auto
    .submit
        left 31px
        @media $tablet
            position static

// REVIEWS

.reviews
    padding 63px 0 30px
    text-align center
    background-color $white
    &_block
        display flex
        justify-content space-between
        align-items center
        flex-wrap wrap
        margin-top 22px
        @media $s1200
            justify-content space-around
        &_box
            width 370px
            @media $s1200
                margin-top 20px
            @media $phoneAl
                width 100%
            &_video
                background url("../img/video.png") center no-repeat
                width 370px
                height 226px
                border-radius 8px
                position relative
                @media $phoneAl
                    width 100%
                &_play
                    position absolute
                    top 50%
                    left 50%
                    transform translate(-50%,-50%)
                    border none
                    outline none
                    background-color transparent
            &_title
                color $text
                font-size 20px
                margin-top 15px
            &_subtitle
                margin-top 2px
                font-size 18px
                color $textCertified

.block_title
    text-align center
    font-size 30px
    font-weight 400
    line-height 30px

.footer
    padding-top 20px
    min-height 100px
    background-color $grey
    &_rights
        color $text
        font-size 14px
        font-weight 400
        line-height 16.8px
        @media $ultraB
            margin-bottom 20px
    &_block
        display flex
        justify-content space-between
        align-items center
        flex-wrap wrap
        @media $ultraB
            flex-direction column
            margin-bottom 20px
    &_menu
        width 676px
        display flex
        justify-content space-between
        align-items center
        flex-wrap wrap
        @media $s1200
            width 60%
        @media $ultraB
            width 100%
            flex-direction column
            margin-bottom 20px
        &_item
            &_link
                color $text
                font-size 14px
                font-weight 400
                line-height 16.8px