$black = #000000;
$white = #ffffff;
$text = #333333;
$bgForm = rgba(4, 88, 101, 0.85);
$bgCertified = rgba(48, 169, 194, 0.8);
$textCertified = #045865;
$consultGradient = linear-gradient(to right, #ff8a0e 0%, #fdad05 98%, #fdae05 100%);
$caption = #30a9c2;
$grey = #d8d8d8;


$phoneS = "only screen and (max-width: 320px)";
$phone = "only screen and (max-width: 480px)";
$phoneSE = "only screen and (max-width: 400px)";
$phoneAl = "only screen and (max-width: 600px)";
$tablet = "only screen and (max-width: 768px)";
$ultraB = "only screen and (max-width: 991px)";
$tabletW = "only screen and (max-width: 990px)";
$ultra = "only screen and (max-width: 1024px)";
$laptop = "only screen and (max-width: 1400px)";
$s1200 = "only screen and (max-width: 1200px)";
$notebook = "only screen and (max-width: 1367px)";