.portfolio-container { 

    .portfolio {
    display: block;
    text-align: center;
    position: relative;
    }

    .tablet-js {
        display: none;
    }
    .mobile-js {
        display: none;
    }
}


.portfolio-container .portfolio .big-image {
    height: 630px;
    width: 58.3%;
}

.portfolio-container .portfolio .big-image>div {
    position: relative;
    height: inherit;
    cursor: pointer;
    overflow: hidden;
}

.portfolio-container .portfolio .big-image>div .description-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 270px;
    background: rgba(54,54,54,.9);
    padding: 50px 36px;
    cursor: default;
    z-index: 1;
}

.portfolio-container .portfolio .big-image>div .zoom-image {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.portfolio-container .portfolio .big-image>div .description-container .title {
    font: 100 36px/48px Roboto, sans-serif;
    color: #fff;
    float: left;
}

.portfolio-container .portfolio .big-image>div .description-container .title>div:first-child {
    position: relative;
    margin-bottom: 31px;
    float: left;
}

.portfolio-container .portfolio .big-image>div .description-container .title>div h4 {
    margin: 0;
    display: inline-block;
    padding-bottom: 5px;
    color: inherit;
    font: inherit;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.portfolio-container .portfolio .big-image>div .description-container .title>div:first-child:after {
    position: absolute;
    top: 83%;
    left: 0;
    content: "+";
    display: block;
    margin: 10px 0;
    margin-left: 10px;
    color: #fff;
    font-size: 30px;
    line-height: 18px;
    opacity: .5;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}



.portfolio-container .portfolio .big-image div .description-container .nav-tabs {
    clear: both;
    padding-top: 54px;
    margin-bottom: 10px;
    position: relative;
}

.portfolio-container .portfolio .big-image div .description-container .tab {
    display: inline-block;
    margin-right: 15px;
    background: 0 0;
    padding: 0;
    font: 11px/15px Roboto,sans-serif;
    color: #b8aa40;
    opacity: .5;
    border-bottom: 1px dotted rgba(183,176,121,.5);
    padding-top: 15px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box; 
}


.portfolio-container .portfolio .big-image>div .description-container .nav-tabs .tab:hover {
    opacity: 1;
    border-bottom: 1px dotted #b8aa40;
}

.portfolio-container .portfolio .big-image>div .description-container .nav-tabs .active {
    color: #fff;
    opacity: 1;
    border-bottom: 1px dotted transparent;
}

.portfolio-container .portfolio .big-image>div .description-container .nav-tabs .active:hover {
    border: none;
}

.portfolio-container .portfolio .big-image>div .description-container .nav-tabs img {
    display: none;
}

.portfolio-container .portfolio .big-image>div .description-container .nav-tabs .active img {
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
    margin: 0 auto;
}


.portfolio-container .portfolio .big-image>div .description-container .content > div p {
    
    font: 300 11px/18px Roboto,sans-serif;
}

.portfolio-container .portfolio .big-image>div .description-container .content div {
    color: #fff;
    text-align: left;
    line-height: 16px;
}

.portfolio-container .portfolio .big-image>div .description-container .content div:before {
    float: left;
    content: "''";
    width: 15px;
    height: 15px;
    display: block;
    color: #b8aa40;

}

.portfolio-container .portfolio .big-image>div .description-container .content .tab-cont {
    display: none;
    
}
.portfolio-container .portfolio .big-image>div .description-container .content .tab-cont.active {
    display: block;
}









.portfolio-container .portfolio .preview {
    height: 630px;
}

.portfolio-container .portfolio .preview>div:first-child {
    margin-bottom: 30px;
}

.portfolio-container .portfolio .preview>div {
    position: relative;
    height: 300px;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    overflow: hidden;
}

.portfolio-container .portfolio .preview>div .title {
    width: 30%;
    position: absolute;
    top: 35px;
    right: 15px;
    font: 100 24px/20px Roboto,sans-serif;
    color: #fff;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.portfolio-container .portfolio .preview>div:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -o-transition: background .5s ease;
    transition: background .5s ease;
}


.portfolio-container .portfolio .preview>div .title>div:first-child {
    position: relative;
    margin-bottom: 23px;
}

.portfolio-container .portfolio .preview>div .title h4 {
    color: inherit;
    font: inherit;
    margin: 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.portfolio-container .portfolio .preview>div .title>div:first-child:after {
    position: absolute;
    left: 50%;
    bottom: -17px;
    display: block;
    margin-left: -10px;
    content: "+";
    color: #fff;
    font-size: 30px;
    line-height: 18px;
    font-weight: 100;
    opacity: .5;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.portfolio-container .portfolio .preview>div .title h4 {
    color: inherit;
    font: inherit;
    margin: 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.portfolio-container .portfolio .preview>div .zoom-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.portfolio-container .portfolio .slick-dots li {
    width: 36px;
    height: 20px;
    padding: 0;
    margin: 1px;
    background: url(../images/bullet-bg.png) 0 0 no-repeat;
    
}


@media (min-width: 992px) {

    .portfolio-container .portfolio .slick-active .zoom-image {
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }

    .portfolio-container .portfolio .slick-active .zoom-image:hover {
        -webkit-transform: scale(1.04,1.04);
        -moz-transform: scale(1.04,1.04);
        -o-transform: scale(1.04,1.04);
        -ms-transform: scale(1.04,1.04);
        transform: scale(1.04,1.04);
    }
}