.footer {
    padding-top: 50px;
    margin-bottom: 155px;
    width: 100%;
    border-top: 1px solid #eaeaea;
}

.copyright {
	float: left;
    width: 137px;
    span {
        font-family: 'Arimo', sans-serif;
        font-size: 14px;
        color: #767676;
    }
}

.footer_menu {
    float: right;
    list-style: none;
    li {
        display: inline-block;
    }
    a {
        font-family: 'Arimo', sans-serif;
        font-size: 14px;
        color: #4c5059;
        text-transform: uppercase;
        margin-right: 68px;
    }
    a:hover{
    	text-decoration: none;
    	transition: 0.3s all;
    	opacity: 0.7;
    }
    .no_margin {
        margin-right: 0;
    }
}


@media(max-width: 1240px) {
    .footer{
        width: 960px;
    }
}

@media(max-width: 960px){
    .footer{
        width: 768px;
    }

    .copyright{
        span{
            font-size: 13px;
        }
    }
    .footer_menu{
        a{
            margin-right: 22px;
        }
    }
}

@media(max-width: 768px){
     .footer{
        width: 460px;
        margin-bottom: 50px;
     }
     .copyright{
        float: none;
        width: 100%;
        text-align: center;
     }
     .footer_menu{
        display: none;
     }
}

@media(max-width: 460px){
     .footer{
        width: 320px;
        margin-bottom: 50px;
     }
}