.header_menu {
    background: #282c37;
    width: 100%;
    padding: 34px 0;
}

.header_menu-box {
    text-align: center;
    list-style: none;
    li {
        display: inline-block;
        border-right: 1px solid #424757;
        padding: 0 44px
    }
    a {
        font-family: 'Arimo', sans-serif;
        font-size: 14px;
        color: $white;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
    }
    a:hover {
        transition: 0.3s all;
        opacity: 0.7;
        border-bottom: 2px solid #abacae;
        text-decoration: none;
    }
    .no_bord {
        border-right: none;
    }
}

@media(max-width: 1240px) {
    .no_bord {
        border-right: none;
    }
}

@media(max-width: 960px) {
    .header_menu-box {
        li {
            padding: 0 30px;
        }
    }
    .no_bord {
        border-right: none;
    }
}

@media(max-width: 768px) {
	.header_menu-box {
        li {
        	display: block;
            padding: 15px 0;
            border:none;
        }
    }
     .no_bord {
        border-right: none;
    }
}

@media(max-width: 460px) {
    .header_menu-box {
        li {
            padding: 10px 0;
            border:none;
        }
        a{
            font-size: 12px;
        }
    }
    .no_bord {
        border-right: none;
    }
}
