// HEADER

.header .header_container {
    width: 100%;
    }

.header .header_container .header_nav {
    list-style: none;
    border-bottom: 1px solid black;
}

.nav_item {
    display: inline-block;
}

.nav_link {
    display: block;
    width: 100px;
    margin: 0 57px 0 57px;
    padding: 0 0 0 0;
    text-align: center;
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    /*font: 10px/30px Roboto,sans-serif;*/
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
    cursor: pointer;
}

.header_nav .logotype  {
    width: 49px;
    height: 49px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 1px solid black;
}

