.leftblock_wrap {
    float: left;
    width: 185px;
}

.leftblock {
    list-style: none;
    margin-bottom: 75px;
    li {
        padding: 11px 0;
    }
    a {
        font-family: 'Arimo', sans-serif;
        font-size: 16px;
        color: #282c37;
    }
    a:hover {
        text-decoration: none;
        transition: 0.3s all;
        color: #010101;
    }
}

.dropdown {
    position: relative;
}

.sub-menu {
    display: none;
    list-style: none;
    li {
        background: url(../images/icons/list_style_mark.png) no-repeat 0 0;
        background-position: 0px;
        margin-left: 7px;
        padding: 6px 0;
    }
    a {
        color: #282c37;
        font-size: 14px;
        margin-left: 7px;
    }
    a:hover {
        transition: 0.3s all;
        color: #010101;
        border-bottom: 1px solid #010101;
    }
}

.price_list {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-weight: bold;
    span {
        position: absolute;
        margin-top: 14px;
        padding-left: 14px;
    }
}

.price_list:hover {
    text-decoration: none;
}

@media(max-width: 1240px) {
    
}

@media(max-width: 960px) {
    .leftblock_wrap {
        width: 100%;
        background: #282c37;
        margin-bottom: 135px;
    }
    .leftblock {
        text-align: center;
        margin-bottom: 0;
        list-style: none;
        li {
            display: inline-block;
            padding: 10px 8px;
        }
        a {
            display: inline-block;
            font-family: 'Arimo', sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            color: $white;
            border-bottom: 1px solid transparent;
        }
        a:hover {
            text-decoration: none;
            transition: 0.3s all;
            color: $white;
            opacity: 0.7;
            border-bottom: 1px solid #abacae;
        }
    }
    .sub-menu {
        text-align: left;
        background: #282c37;
        display: none;
        list-style: none;
        position: absolute;
        width: 100%;
        height: auto;
        margin-top: 10px;
        li {
            display: block;
            background: rgb(40, 44, 55);
            margin-left: 7px;
            padding: 6px 0;
        }
        li:hover {
            background: rgba(40, 44, 55, 0.7);
            transition: 0.3s all;
        }
        a {
            color: $white;
            font-size: 12px;
            margin-left: 7px;
        }
        a:hover {
            color: $white;
            opacity: 0.7;
            transition: 0.3s all;
            border-bottom: 1px solid #abacae;
        }
    }
    .dropdown:before {
        content: "";
        display: block;
        border: 3px solid transparent;
        border-top: 3px solid #fff;
        position: absolute;
        right: 0;
        margin-right: -4px;
        margin-top: 7px;
    }
    .price_list {
        display: none;
    }
}

@media(max-width: 768px) {
    .leftblock_wrap {
        float: none;
        width: 100%;
        background: #282c37;
    }
    .leftblock {
        text-align: center;
        width: auto;
        width: 200px;
        margin: 0 auto;
        li {
            display: block;
            padding: 10px 8px;
        }
        a {
            display: inline-block;
            font-family: 'Arimo', sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            color: $white;
            border-bottom: 1px solid transparent;
        }
        a:hover {
            text-decoration: none;
            transition: 0.3s all;
            color: $white;
            opacity: 0.7;
            border-bottom: 1px solid #abacae;
        }
    }
    .sub-menu {
        width: 100%;
        height: auto;
        position: inherit;
        text-align: center;
        li {
            display: block;
            background: rgb(40, 44, 55);
            padding: 6px 0;
            margin: 0;
        }
        li:hover {
            background: rgb(40, 44, 55);
            transition: 0.3s all;
        }
        a {
            color: $white;
            font-size: 12px;
            margin: 0;
            text-transform: none;
        }
        a:hover {
            color: $white;
            opacity: 0.7;
            transition: 0.3s all;
            border-bottom: 1px solid #abacae;
        }
    }
        .dropdown:before {
        border-top: 1px solid transparent;
        }
}

@media(max-width: 460px) {
    .leftblock_wrap {
        width: 100%;
    }
    .leftblock {
        a {
            font-size: 12px;
        }
    }
    .submenu {
        a {
            font-size: 10px;
        }
    }
}
