

main {
    display: block;
    width: 100%;
    z-index: 0;
}

.portfolio-container {
    width: 100%;
    overflow: hidden;
    background: url(../images/reviews-bg.jpg) repeat;
    padding-bottom: 50px;
}


.portfolio-container .portfolio-title {
    text-align: center;
    font: 200 24px/46px Roboto,sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 45px;
    margin-top: 20px;
    
        span {
        color: #b8aa40;
    }
        img {
        margin: 0 auto;
        width: 10px;
        height: 10px;
    }

}




