<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Work 13-14 JS</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <script type="text/template" id="test">
  <div class="wrapper">
  <header><%= header %></header>
  <form action="#" method="POST">
    <ul>
   <% for (var i=0;i<questions.length;i++) {  %>
     <h4><%= questions[i].title %></h4>
    <% for (var j=0; j<questions[i].answers.length;j++){ %>
   <p>
    <input type="checkbox" name="<%= questions[i].checkName %>" id="<%= questions[i].id[j]%>"/>
    <label for="<%= questions[i].id[j] %>"><%= questions[i].answers[j] %></label>
    </p>
    <% }; %>
  <% };%>
</ul>
  <button type="button" class="success">Review my answers</button>
  <button type="reset" class="danger">Reset my test</button>

  </form>
  </div>

  </script>
  <script src="js/jquery.js"></script>
  <script src="js/template.js"></script>
  <script src="js/script.js"></script>

</body>
</html>
