<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin()" [formGroup]="authForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput 
             name="email" 
             formControlName="email"
             type="email" 
             placeholder="E-Mail"
             email>
      <mat-error *ngIf="authForm.controls.email.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" 
             name="password" 
             formControlName="password"
             matInput 
             placeholder="Password">
      <mat-error *ngIf="authForm.controls.password.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Login</button>
  </form>
</mat-card>
