mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.forgot-button {
  margin-left: 20px;
  font-size: 12px;
}

.forgot-button:hover {
  text-decoration: underline;
  cursor: pointer;
}
