//Colours should always only appear in this colours.scss

$white:           #fff;
$black:           #000;
$red:             #100;


/*HEADER*/
$social:          #ccc;
$socialHover:     #248cec;
$mainMenu:        #2a2d32;
$mainMenuActive:  #248cec;
$mainMenuHover :  #f4b60d;

/*SHELUDE*/

$boxTextColor:    #8a8a8a;
$readMoreHover:   #248cec;

/*SERVICES*/

$servicesBckg:    #2a2d32;
$servicesHov:     #248cec;
$servicesBoxHov:  #f4b60d;

/*NEWS*/

$newsText:   	  #aaa;
$newsCol:         #2a2d32;
$newsHeaderHov:   #0187f4;
$newsTitle:       #2a2d32;
$comments: 		  #0187f4;
$calendDateBckg:  #248cec;
$calendMonthBckg: #f4b60d;
$mainContentBckg: #f7f7f7;

/*ACCORDION*/

$accText:         #8a8a8a;
$AccTitle:        #2a2d32;
$AccPanelBord:    #e8e8e8;
$AccPanelHov:     #f4b60d;
$plusBord:        #e8e8e8;
$activeAccBckg:   #f4b60d;

/*FOOTER*/

$footerBckg:      #2a2d32;
$footerLink:	  #66686c;
$footerLinkHov:   #248cec;
$footerContBckg:  #35383c;