html {
  background-color: #d3d3d3;
}
.work {
  border-bottom: 1px solid grey;
}

body {
  margin-left: 400px;
  margin-right: 400px;
  border: 20px solid white;
  background-color: white;
  box-shadow: 1px 1px 1px 1px black;
}

.target {
  border-bottom: 1px solid grey;
}

img {
  height: 240px;
  width: 350px;
  margin-left: 60px;
}

header {
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.online {
  border-bottom: 1px solid grey;
}

p {
  margin:5px;
}

a {
  margin-left: 5px;
}
