body {
  margin: 0 auto;
  background-color: lightgrey;
}
.allbody {
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 40px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px black;
  width: 510px;
}
header {
  font-weight: bold;
  text-align: center;
}
img {
  height: 300px;
  width: 200px;
}
.photo {
  text-align: center;
  }
.photo img {
  border-radius: 10px;
  }
.work {
  border-bottom: 1px solid black;
}
.target {
  border-bottom: 1px solid black;
}
.online {
  border-bottom: 1px solid black;
}
