body {
	font-family: 'AvenirBook';
    background-color: #fff;
}

@font-face {
	font-family: 'AvenirBook';
	src: url('../fonts/Avenir-Book.eot');
	src: url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Avenir-Book.woff2') format('woff2'),
		url('../fonts/Avenir-Book.woff') format('woff'),
		url('../fonts/Avenir-Book.ttf') format('truetype'),
		url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	outline: none !important;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: #000;
}

.h1, .h2, .h3, h1, h2, h3,.h4, .h5, .h6, h4, h5, h6, ul, p {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

img {
	width: 100%;
}


/* HEADER  */



.header {
	padding-top: 10px;
	padding-bottom: 5px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 10;
	background: #fff;
}
.header_logo {
	float: left;
	max-width: 120px;
	margin-right: 10px;
    margin-left: 50px;
}

.header_menu .header_item {
	display: inline-block;
}

.header_menu .header_item .hedaer_link {
	display: block;
	padding: 33px 15px 25px;
	cursor: pointer;
	font-weight: 600;
	color: #585f75;
	text-transform: uppercase;
}
.header_menu .header_item .hedaer_link:hover {
	color: #000;
}



.header_sub-menu_item {
	position: absolute;
	left:-9999px;
    opacity:0;
    -webkit-transition:0.25s linear opacity;

	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 20px 0px #000;
	padding: 5px 0;
}

.primary-menu .header_item:nth-child(2):hover ul {
	left:auto;
    opacity:1;
	-webkit-transition:0.25s linear opacity;
}

.header_sub-menu_item:before {
	content: '';
	position: absolute;
	top: -13px;
	left: 30px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #fff;
}

.header_sub-menu_item .header_item {
	display: block;
	position: relative;
}



.header_sub-menu_item .header_item .hedaer_link {
	padding: 5px 15px;
	text-transform: capitalize;
}
.header_sub-menu_item .header_item .hedaer_link:hover {
	background-color: #8EBBDB;
}

.header_lang,
.header_call {
	float: right;
}

.header_call {
	margin-right: 20px;
}
.header_call li {
	display: inline-block;
	padding: 33px 5px 25px;
	font-weight: 600;
	color: #585f75;
}

.header_call li a {
	font-size: 16px;
}

.header_lang li {
	display: inline-block;
	padding: 33px 5px 25px;
}

.subtitle_slider {
	margin-top: 97px;
}


.subtitle_slider .item {
	padding: 100px 0;
	width: 100%;
	min-height: 500px;
	background: url("../img/Layer-510.png") no-repeat;
	background-size: cover;
	position: relative;
}
.subtitle_slider .item .item_block {
    width: 55%;
	margin: 0 auto;
}

.subtitle_slider_title {
	font-size: 60px;
	color: #fff;
	text-transform: uppercase;
}
.subtitle_slider_subtitle {
	font-size: 32px;
	color: #cccccc;
}

.subtitle_slider_subtitle span {
	text-transform: uppercase;
	color: #fff;
}

.item_block_button {
	display: block;
	margin: 70px auto 0;
	padding: 15px 70px;
	background-color: #cc4688;
	border: none;
	color: #fff;
	border-radius: 30px;
	transition: .2s;
}
.item_block_button:hover {
	color: #fff;
	box-shadow: 0 0 10px 0px #cc4688;
	transition: .2s;
}

.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 0px;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}

.header_form {
	float: right;
	display: block;
	margin: 19px 10px 0 0;
	padding: 15px;
	color: #fff;
	background-color: #cc4688;
	border-radius: 30px;
	cursor: pointer;
}
.header_form:hover {
	color: #fff;
}





.hide_button {
	display: none;
}
.menu_hidden {
	display: none;
}



#map {
	height: 500px;
	width: 100%;
}

/* HEADER END  */

/* SERVICE */
.subheader {
	margin-top: 97px;
	min-height: 330px;
	position: relative;
	text-align: center;
	background: url('../img/service/banner.png'); //wp-content/uploads/
}

.subheader_title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-size: 90px;
	text-transform: uppercase;
	color: #fff;
	line-height: 1;
	font-weight: 600;
}



/* ABOUT */

.about {
	padding: 60px 0;
}

.about_menu {
	text-align: center;
	position: relative;
	/*border-bottom: 1px solid #a7a9ac*/
}
.about_menu:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 4px;
	width: 100%;
	height: 1px;
	background-color: #a7a9ac;
	z-index: -1;
}

.aboutk_item {
	display: inline-block;
	width: 260px;
	padding: 30px 0;
	border-bottom: 4px solid transparent;
	font-size: 18px;
	font-weight: 600;
	color: #919395;
	cursor: pointer;
}

.aboutk_item:first-child {
	margin-right: 100px;
}

.aboutk_item.current {
	color: #000;
	border-bottom: 9px solid #226f92;
}

.about .tab_about {
	margin-top: 70px;
}

.about_leftBlock_image {
	float: left;
	width: 35%;
	position: relative;
	margin-top: 20px;
}

.about_leftBlock_image img {
	max-width: 130px;
    display: block;
    margin: 60px auto 0;
}
.about_leftBlock_image-1 img {
	max-width: 130px;
    display: block;
    margin: 00px 0 0;
}
.about_leftBlock_image .about_leftBlock_img {
	max-width: 165px;
}

.about_leftBlock_text {
	display: inline-block;
	width: 65%;
}

.about_leftBlock_par {
	font-size: 16px;
    letter-spacing: 2px;
}

.about .tab_about.current {
	min-height: 410px;
}

.about_leftBlock_par_menu {
    float: left;
    width: 50%;
}

.about_leftBlock_par_list {
	padding-left: 50px;
	font-size: 16px;
    line-height: 2.5;
	position: relative;
}
.about_leftBlock_par_list:before {
	content: '';
	position: absolute;
	top:20px;
	left: 0;
	width: 40px;
	height: 1px;
	background-color: #cc4688;
}


/* ABOUT END */

/* SERVE */
.serve {
	padding: 50px 0;
}

.serve_block {
	margin-top: 100px;
	text-align: center;
}

.serve_block_box {
	width: 30%;
	text-align: center;
	display: inline-block;
	margin-bottom: 50px;
}
.serve_block_box-1 {
	width: 24%;
}

.serve_block_box img {
	width: auto;
}

.serve_block_title {
	margin-top: 35px;
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 1px;
}

/* SERVE END */

/* GET START */

.getStart {
	padding: 50px 0;
}

.getStart_form {
	padding: 70px 0 0;
	width: 60%;
    margin: 0 auto;
}

.getStart_form_input {
	width: 100%;
	padding: 15px 10px;
	margin-bottom: 40px;
	border: none;
	border-bottom: 1px solid #a7a9ac;
	font-size: 18px;
	font-style: italic;
}

.getStart_form_textarea {
	width: 100%;
	padding: 15px 10px;
	margin-bottom: 30px;
	border: 1px solid #a7a9ac;
	font-size: 18px;
	font-style: italic;
}

.getStart_form_inputAdd {
	width: 100%;
	padding: 15px 10px;
	margin-bottom: 20px;
	font-size: 18px;
	font-style: italic;
	background: url(../img/service/add.png) left center no-repeat;
	cursor: pointer;
	text-decoration: underline;
}

.form_submit_start{
	float: right;
	padding: 12px 50px;
    background-color: #1f6d90;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
	border: none;
    border-radius: 30px;
    transition: .2s;
}

.form_submit_start:hover {
	color: #fff;
	box-shadow: 0 0 10px 0px #1f6d90;
	transition: .2s;
}



/* GET START END */

/* SERVICE END */


/* VERTICALS */

.subheader-verticals {
	background: url('../img/verticals/banner.png');
	background-size: cover;
}

.about-verticals .about_leftBlock_image {
	padding: 50px
}
.about-verticals .about_leftBlock_image img {
	margin: 0;
}
.about_leftBlock_client {
	font-size: 36px;
}


.study {
	min-height: 360px;
	background: url('../img/verticals/study.png');
	background-size: cover;
	position: relative;
}

.study_block {
	position: absolute;
	top: 28%;
	right: 25%;
	/*transform: translate(-50%,-50%);*/
}
.study_block .study_link {
	padding: 12px 50px 12px 30px;
	background-color: #1f6d90;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	border: none;
	border-radius: 30px;
	-webkit-transition:  .2s;
	-o-transition:  .2s;
	transition: .2s;
	position: relative;
}

.study_block .study_link:hover {
	color: #fff;
	box-shadow: 0 0 10px 0px #1f6d90;
	transition: .2s;
}

.study_title {
	font-size: 45px;
	font-weight: 600;
	margin-bottom: 60px;
}


.doForYou {
	padding: 60px 0;
}

.doForYou_block {
	margin-top: 50px;
	position: relative;
}
.doForYou_block:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../img/verticals/left_corn.png')
}
.doForYou_block::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: url('../img/verticals/right_corn.png')
}
.doForYou_block_box {
	float: left;
	width: 25%;
    text-align: center;
}
.doForYou_block_box img {
	width: auto;
	height: 100px;
}

.doForYou_block_title {
	margin-top: 35px;
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 1px;
}

.tales {
	padding: 60px 0;
}
.tales_block {
	width: 70%;
	margin: 50px auto 0;
}

.tales_block_box {
	float: left;
	width: 30%;
	margin: 0 10px;
}


.tales_block_text {
	margin-top: 30px;
	font-size: 21px;
}


/* VERTICALS END */


/* CAREER */

.subheader.subheader_career {
    background: url(../img/career/header.png) no-repeat;
    background-size: cover;
}

.subheader_career .subheader_title {
	top: 35%;
}

.subheader_career .subheader_subtitle {
	width: 100%;
	position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 60px;
    color: #fff;
    line-height: 1;
    font-weight: 200;
}

.position {
	padding: 50px 0;
}

.position_block {
	padding: 50px;
}

.position_box {
	border-bottom: 1px solid #a7a9ac;
	position: relative;
}

.position_box_content  {
	width: 24%;
    display: inline-block;
    text-align: center;
    padding: 15px 10px;
	font-size: 18px;
	color: #333333;
}

.position_box_content.vacancy {
	font-weight: 800;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}



.position_box_content.area {
	text-align: left;
	padding-left: 20px;
}
.position_box_content.city {
	text-align: left;
	padding-left: 20px;
}
.position_box_content.view a {
	color: #1f6d90;
	text-decoration: underline;
	font-weight: 800;
	cursor: pointer;
}

.position_box_search .area,
.position_box_search .city {
	font-weight: 800;
}

.position_box_content .position_box_content_desc {
	font-size: 14px;
}

.position_box_more {
	margin-top: 50px;
	text-align: center;
}

.position_more {
	text-align: center;
	padding: 12px 30px 12px ;
	background-color: #1f6d90;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	border: none;
	border-radius: 30px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	position: relative;
	cursor: pointer;
}

.position_more:hover {
	box-shadow: 0 0 10px 0px #1f6d90;
	color: #fff;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;

}


.dreamJob {
	padding: 50px 0;
	text-align: center;
}

.dreamJob .block_title_slim,
.onemore .block_title_slim {
	font-weight: 200;
}

.dreamJob_linked {
	margin-top: 50px;
}

.dreamJob_linked_button {
    padding: 10px 15px;
    color: #fff;
	text-transform: uppercase;
    background-color: #cc4688;
    border-radius: 30px;
    cursor: pointer;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.dreamJob_linked_button:hover {
    box-shadow: 0 0 10px 0px #cc4688;
    color: #fff;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.onemore {
	padding: 30px 0 50px;
}

.onemore .input_file .info {
	font-size: 12px;
    text-decoration: none;
	float: left;
    padding: 25px 15px 20px 0;
}

.onemore .input_file .getStart_form_inputAdd {
	padding: 20px 0px 20px 45px;
	float: left;
	display: inline-block;
	width: 37%;
}

.career_join {
	background: url(../img/career/banner.png) !important;
}
.career_join .join_block {
	top: 10%;
    left: auto;
    right: 15%;
    transform: translate(0,0);
}
.career_join .join_block .join_subtitle {
	color: #343e5c;
	font-weight: 200;
}

.career_join .join_block .join_link {
	background-color: #1f6d90;
}
.career_join .join_block .join_link:hover {
	    box-shadow: 0 0 10px 0px #1f6d90;
}

.study_gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgba(32,109,144,1) 0%, rgba(32,109,144,1) 0%, rgba(205,71,138,1) 100%);
}

.position_box_content_search_image {
	width: 20px;
	height: 20px;
	margin-left: 10px;
	cursor: pointer;
}
.management_block {
	width: 90%;
	margin: 0 auto;
}

.management_block_box .management_block_box_pic {
	max-width: 220px;
}

.management_block .management_block_box_main {
	width: 96.5%;
	margin-bottom: 50px
}
.management_block .management_block_box_main .management_block_box_image {
	max-width: 220px;
	float: left;
}

.management_block_box_info {
	float: left;
    padding-left: 50px;
    padding-top: 30px;
}
.management_block_box_info .management_block_box_title {
	font-size: 42px;
}
.management_block_box_info .management_block_box_position {
	font-size: 30px;
}
.management_block_box_info .management_block_box_envelope {
	max-width: 70px;
}

.management_block_box_personal_envelope {
	max-width: 50px;
	float: right;
	margin-top: 10px;
}



/* CAREER END */


/*VACCANCY*/

.vacancyBlock {
	padding: 50px 0;
}

.vacancy_block {
    text-align: center;
    width: 80%;
    margin: 30px auto;
    border-bottom: 1px solid;

}

.vacancy_block_left {
	float: left;
	width: 40%;
}
.vacancy_block_left img {
    max-width: 300px;
    width: auto;
    padding-bottom: 10px;
}

.vacancy_block_right {
	float: left;
	width: 60%;
}
.vacancy_block_right_text {
	text-align: left;
}

.descriptionVacancy {
	padding: 50px 0;
}

.descriptionVacancy_block {
	width: 100%;
	margin: 30px auto;
}

.descriptionVacancy_block-1 {
	float: left;
    width: 50%;
}



.descriptionVacancy_block_title {
	padding-left: 50px;
}

.vacancy_form {
	width: 100% !important;
    padding: 0 !important;
}

.vacancy_form .info {
	display: none;
}
.vacancy_form .getStart_form_inputAdd {
	width: 100% !important;
}

.test_vacancy {
	padding: 50px 0;
	text-align: center;
}

.test_descriptionVacancy_block {
	width: 400px;
	text-align: left;
	margin:30px auto;
}





/*VACCANCY END*/


/* ABOUT */

.subheader_about {
	background: url('../img/about/header.png') no-repeat;
	background-size: cover
}

.subheader_about .subheader_title {
	letter-spacing: 6px;
}

.text_block {
	padding: 50px 0;
}

.text_block_text {
	font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
	line-height: 1.5;
    font-weight: 600;
}

.aboutUs {
	padding: 50px 0;
}

.aboutUs_block {
	margin-top: 50px;
}

.aboutUs_block_leftBox {
	float: left;
    width: 32%;
    position: relative;
}

.aboutUs_block_leftBox_title {
	font-size: 36px;
    padding: 30px;
}

.aboutUs_block_rightBox {
	float: left;
    width: 68%;
    padding-right: 70px;
}

.aboutUs_block_rightBox_text {
	font-size: 16px;
	letter-spacing: 2px;
}

.management {
	padding: 50px 0;
}

.management_block {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.management_block_box {
	margin-bottom: 50px
}

.management_block_box_title {
	margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
}

.management_block_box_position {
	margin-top: 10px;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #ca458a;
}

.facility {
	padding: 50px 0;
}

.facility_block {
	margin-top: 50px;
}

.facility_block_box-1 {
	float: left;
	width: 50%;
	padding: 0 15px;
}
.facility_block_box-2 {
	float: left;
	width: 25%;
	padding: 0 15px;
}
.facility_block_box-3 {
	float: left;
	width: 25%;
	padding: 0 15px;
}

.overflow {
	margin-bottom: 28px;
	overflow: hidden;
	transition: 0.5s;
	cursor: pointer;
}
.overflow:hover img {
	transform: scale(1.2);
	transition: 0.5s;
}

/*.facility_block_image-4 {
	min-height: 360px;
}*/

.facts {
	padding: 50px 0;
}

.facts_block {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.facts_block_box_year {
	font-size: 55px;
    font-weight: 200;
}

.facts_block_box_separator {
	display: block;
    margin: 10px 0 20px;
    width: 280px;
    height: 10px;
    background-color: #226f92;
}


.coverage {
	padding: 50px 0 80px;
}

.coverage_block {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
}

.coverage_block_box {
	position: relative;
    width: 25%
}
.coverage_block_box img {
    width: auto;
}
.coverage_block_box:first-child {
	position: relative;
    width: 13%
}
.coverage_block_box:nth-child(2) {
	position: relative;
    width: 30%
}
.coverage_block_box:nth-child(3) {
	position: relative;
    width: 20%
}

.coverage_block_box_location {
	position: absolute;
	top: 120px;
	right: 0;
}

.coverage_block_box_country {
	font-size: 22px;
    font-weight: 600;
}

.coverage_block_box_city {
	display: block;
}

.dream {
	min-height: 360px;
    background: url(../img/about/banner.png);
    background-size: cover;
    position: relative;
}

.dream_block {
	position: absolute;
	top: 50%;
	right: 15%;
	transform: translate(-50%,-50%);
}

.dream_subtitle {
	font-size: 45px;
	margin-bottom: 10px;
}

.dream_title {
	font-size: 45px;
	font-weight: 600;
	margin-bottom: 80px;
}

.dream_link {
	padding: 12px 50px 12px 30px;
	background-color: #1f6d90;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	border: none;
	border-radius: 30px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	position: relative;
}
.dream_link:hover {
	color: #fff;
	box-shadow: 0 0 10px 0px #1f6d90;
	transition: .2s;
}

.dream_link:after {
	content: url('../img/about/next.svg');
	position: absolute;
	top: 14px;
    right: 20px;
	transition: .2s;
}

.join_link:after {
	content: url('../img/about/next.svg');
	position: absolute;
	top: 14px;
    right: 20px;
	transition: .2s;
}

.study_link:after {
	content: url('../img/about/next.svg');
	position: absolute;
	top: 14px;
    right: 20px;
	transition: .2s;
}

.dream_link:after:hover {
    right: 10px;
	transition: .2s;
}

.philosophy_block_leftBox_title {
	padding: 0 20px;
}

.join {
	min-height: 360px;
	background: url(../img/about/banner-1.png);
	background-size: cover;
	position: relative;
}

.join_block {
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%,-50%);
}

.join_subtitle {
	font-size: 45px;
	margin-bottom: 10px;
	color: #fff;
}

.join_title {
	font-size: 45px;
	font-weight: 600;
	margin-bottom: 80px;
	color: #fff;
}

.join_link {
	padding: 12px 50px 12px 30px;
	background-color: #cc4688;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	border: none;
	border-radius: 30px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	position: relative;
}

.join_link:hover {
	color: #fff;
	box-shadow: 0 0 10px 0px #cc4688;
	transition: .2s;
}

/* ABOUT END */


/* PARTNERS BLOCK */

.partners {
	text-align: center;
	padding: 15px 0;
}

.partners_block {
	display: flex;
	justify-content: space-between;
}

.partners_image {
	width: auto;
    height: 30px;
}



/* PARTNERS BLOCK END */

.block_title {
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	color: #343e5c;
	letter-spacing: 4px;
}


/* WHO WE ARE */

.whoWeAre {
	background-color: #e4e5e7;
	padding: 70px 0;
}



.whoWeAre_block {
    margin-top: 70px;
}

.whoWeAre_leftBlock {
	width: 55%;
	float: left;
	padding-right: 49px;
}

.whoWeAre_rightBlock {
	width: 45%;
    float: left;
}

.whoWeAre_leftBlock_title {
	padding-top: 40px;
	color: #333333;
	font-size: 26px;
	letter-spacing: 3px;
}

.whoWeAre_leftBlock_par {
	margin: 30px 0;
	color: #333;
	font-size: 16px;
	letter-spacing: 1px;
}

.whoWeAre_leftBlock_link {
	padding: 12px 20px;
	background-color: #1f6d90;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 30px;
	transition: .2s;

}
.whoWeAre_leftBlock_link:hover {
	color: #fff;
	box-shadow: 0 0 10px 0px #1f6d90;
	transition: .2s;
}

/* WHO WE ARE END */

/* Stories  */

.stories {
	background-color: #e4e5e7;
	padding: 70px 0;
}


.stories_block {
	margin-top: 70px;
}


.stories_leftBlock {
	width: 50%;
    float: left;
    padding-right: 50px;
}

.stories_rightBlock {
	width: 50%;
    float: right;
    padding-left: 20px;
}
.stories_rightBlock .stories_rightBlock_image {
	width: auto !important;
}

.stories_rightBlock_par {
	margin-top: 20px;
	color: #333;
	font-size: 16px;
	letter-spacing: 1px;
}

.stories_rightBlock_par span {
    font-weight: 600;
}

.stories_slider .owl-nav {
	position: absolute;
	right: 25%;
	bottom: 20px;
	transform: translateX(50%);
}
.stories_slider .owl-prev {
	position: relative;
	left: -50px;
	background-color: transparent !important;
}
.stories_slider .owl-next {
	position: relative;
	right: -50px;
	background-color: transparent !important;
}
.stories_slider .owl-dots {
	position: absolute;
	right: 25%;
	bottom: 30px;
	transform: translateX(50%);
}


/* Stories END  */

/* MODEL  */

.model {
	background-color: #e4e5e7;
	padding: 70px 0;
}

.model_block {
	margin-top: 70px;
}

.model_leftBlock {
	width: 55%;
	float: left;
	padding-right: 49px;
}

.model_rightBlock {
	width: 45%;
    float: left;
}

.model_leftBlock_menu {
    margin-top: 10px;
}

.model_leftBlock_item {
	display: inline-block;
    margin-right: 18px;
	margin-bottom: 20px;
	text-transform: capitalize;
	border-bottom: 2px solid transparent;
	color: #000;
	font-size: 18px;
	letter-spacing: 1px;
	cursor: pointer;
}
.model_leftBlock_item:hover,
.model_leftBlock_item:focus,
.model_leftBlock_item.current {
	border-bottom: 2px solid;
	color: #1f6d90;
	font-weight: 800;
}
.tab-content{
	display: none;
}

.tab-content.current{
	display: inherit;
	min-height: 200px;
}

.model_leftBlock_par {
	font-size: 16px;
    letter-spacing: 1.6px;
    margin-bottom: 20px;
}

.model_leftBlock_par-2 {
	margin-bottom: 90px;
}

.model_leftBlock_link {
	padding: 12px 20px;
	background-color: #1f6d90;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 30px;
}
.model_leftBlock_link:hover {
	color: #fff;
	box-shadow: 0 0 10px 0px #1f6d90;
	transition: .2s;
}

/* MODEL END  */

/* OFFER  */

.offer {
	background-color: #e4e5e7;
	padding: 70px 0;
    text-align: center;
}


.offer_par {
	text-align: left;
	margin: 50px 0;
	font-size: 16px;
	padding: 0 30px;
	letter-spacing: 2px;
}

.offer_link {
	padding: 15px 55px;
	color: #fff;
	text-transform: uppercase;
	background-color: #cc4688;
	border-radius: 30px;
	transition: .2s;
}
.offer_link:hover {
	color: #fff;
    box-shadow: 0 0 10px 0px #cc4688;
    transition: .2s;
}



/* OFFER END  */

/* ARTICLES  */

.articles {
	background-color: #e4e5e7;
	padding: 70px 0;
}



.articles_block {
	margin-top: 30px;
}

.articles_leftBlock {
	float: left;
	width: 50%;
}

.articles_rightBlock {
	float: left;
	width: 50%;
}

.articles_leftBlock_title,
.articles_rightBlock_title {
	padding: 20px 30px 5px;
	font-size: 17px;
	font-weight: 600;
}

.articles_leftBlock_subtitle,
.articles_rightBlock_subtitle {
	padding: 5px 30px 5px;
    font-size: 14px;
}


/* ARTICLES END  */

/* COMMENTS */

.comments {
	background-color: #fff;
	padding: 50px 0;
}

.comments_title {
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	text-transform: capitalize;
	color: #222328;
	letter-spacing: 2px;
}

.comments_subtitle {
	margin-top: 15px;
	text-align: center;
	font-size: 16px;
	text-transform: capitalize;
	color: #b9bed1;
	letter-spacing: 0.5px;
}

.comments_block {
	margin-top: 70px;
	margin-top: 70px;
	display: flex;
	justify-content: space-around;
}

.comments_box {
	width: 30%;
}

.comments_box_image {
    float: left;
}

.comments_box_image img {
	width: auto;
}

.comments_box_info {
	float: left;
	padding-left: 20px;
}

.comments_box_name {
	font-size: 18px;
	line-height: 1.5;
	text-transform: capitalize;
}

.comments_box_position {
    color: #b9bed1;
}

.comments_box_text {
	clear: both;
	padding-top: 40px;
	font-size: 16px;
	color: #343e5c;
	letter-spacing: 3px;
}


/* COMMENTS END */

/* FOOTER */

.footer {
	background-color: #999999;
	padding: 70px 0;
}

.footer_menu {
	float: left;
}
.footer_menu_company {
	width: 35%;
}

.footer_menu_about {
    width: 23%;
}

.footer_menu_automotive {
	width: 35%;
}

.footer_menu_icons {
	width: 5%;
}
.footer_item a {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	line-height: 2.5;
	cursor: pointer;
}

.footer_menu_icons .footer_item {
	text-align: right;
	padding-right: 50px;
	margin-bottom: 10px;
}

.footer_item img {
	width: auto;
}

.footer_company {
	display: block;
	clear: both;
	font-size: 16px;
	color: #fff;
}

/* FOOTER END */

/* FORM */

.form {
	background-color: #f3f3f3;
	padding: 50px 0;
	margin-top: 97px;
}

.form_links {
	padding: 0 15px;
}

.form_links_item {
	display: inline-block;
	position: relative;
}

.form_links_item:after {
	content: '>';
	position: absolute;
	top: 0;
	right: 0;
	color: #a4a4a4;

}
.form_links_item:last-child .form_links_link {
	color: #000;
}

.form_links_item:last-child:after {
	content: '';
}

.form_links_link {
	color: #a4a4a4;
	cursor: pointer;
	margin-right: 15px;
}

.form_links_link:hover {
	color: #333;
}

.form_block_title {
	margin: 60px 0 30px;
}

.form_input  {
	width: 100%;
	margin-bottom: 35px;
	padding: 20px 25px;
	font-size: 18px;
	font-weight: 200;
	color: #666666;
	letter-spacing: 1px;
    background-color: #cccccc;
    border: none;
    border-radius: 3px;
}

.input_file {
    position: relative;
}

.input_file .getStart_form_inputAdd {
    display: block;
	position: relative;
    z-index: 1;
    padding: 20px 45px;
	cursor: pointer;
}
.input_file input {
	position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
	cursor: pointer;
}

.form_robot {
	text-align: center;
    margin-bottom: 45px;
}

.form_robot_image {
	width: auto;
}

.form_submit {
	display: block;
	margin: 0 auto;
	padding: 15px 100px;
	color: #fff;
	background-color: #cc4688;
	border: none;
	border-radius: 30px;
	cursor: pointer;
}

/* FORM END */

/* CONTACTS */

.contacts {
	background-color: #f3f3f3;
	padding: 100px 0 50px;
	text-align: center;
}

.contact_title {
	font-size: 36px;
	letter-spacing: 3px;
}

.contacts_block {
    margin-top: 30px;
}

.contacts_block_title {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 1.5;
}
.contacts_block_info {
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 1.5;
}

.clearfix {
	clear: both;
}
/* CONTACTS END */




@media only screen and (max-width: 1400px) {
	.subtitle_slider .item .item_block {
		width: 70%;
	}
	.subheader_about .subheader_title {
		font-size: 80px;
	}
}
@media only screen and (max-width: 1300px) {
	.subtitle_slider_title {
	    font-size: 50px
	}
	.dream_block {
		right: 0;
	}
	.stories_slider .owl-nav {
		position: static;
	    transform: translateX(0);
	}
	.stories_slider .owl-dots {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 10px;
		transform: translateX(0);
	}
}
@media only screen and (max-width: 1025px) {
	.subheader_title {
		font-size: 70px;
	}
	.header_menu .header_item .hedaer_link {
		padding: 33px 7px 25px;
	}
	.subtitle_slider_title {
		font-size: 40px;
	}
	.subtitle_slider_subtitle {
		font-size: 24px;
	}
	.whoWeAre_leftBlock_title br {
		display: none;
	}
	.whoWeAre_leftBlock_title {
		padding-top: 0;
	}
	.stories_slider .owl-nav {
		position: static;
	    transform: translateX(0);
		display: none;
	}
	.stories_slider .owl-dots {
		position: absolute;
		right: 0;
		left: 0;
		bottom: -50px;
		transform: translateX(0);
	}
	.model_leftBlock {
		padding-right: 20px;
	}
	.model_leftBlock_item {
		font-size: 14px;
	}
	.model_leftBlock_par {
		font-size: 14px;
	}
	.model_leftBlock_par-2 {
	    margin-bottom: 40px;
	}

	.dream_block {
		transform: translate(-10%,-50%);
	}
}

@media only screen and (max-width: 992px) {
	.header_lang {
		display: none;
	}
	.header_menu {
		display: none;
	}
	.header {
		position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: auto;
	    z-index: 10;
	    background: #fff;
	}
	.hide_button {
		display: block;
		float: right;
		padding-top: 30px;
		cursor: pointer;
	}

	#wrapper {
	  max-width: 500px;
	  margin: 75px auto;
	  text-transform: uppercase;
	  font-weight: 300;
	}

	#button-wrapper {
	  -webkit-appearance: none;
	  background: none;
	  border: 0;

	  height: 70px;
	  width: 70px;
	}

	.menu-button {
	  text-decoration: none;
	  width: 30px;
	  height: 3px;
	  background: #000;
	  display: inline-block;
	  position: relative;
	  border: 0px;
	  transition: 250ms ease;
	}
	.menu-button:before,
	.menu-button:after {
		content: "";
		position: absolute;
		width: 100%;
		display: block;
		height: 3px;
		left: 0px;
		background: black;
		transition: 250ms ease-out;
	}
	.menu-button:before {
		transform: translateY(-8px)
	}
	.menu-button:after {
		transform: translateY(8px);
	}


	.button-transform {
	  animation: b-anim 1s;
	   transform: rotate(45deg);
	}
	  .button-transform:before,
	  .button-transform:after {
	    transform: translateY(0px);

	  }
	  .button-transform:before {
	    transform: rotate(-90deg);
	  }
	  .button-transform:after {
	  opacity: 0;
	  }


	.menu_hidden {
		display: none;
	    position: fixed;
	    top: 97px;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(255,255,255,.9);
	    z-index: 10;
		text-align: center;
	}
	.menu_block {
	   margin-top: 30px;
	}
	.menu_block_item {
		padding: 10px;
	}
	.menu_hidden .header_call {
		float: none;
	}

	.menu_hidden .header_lang {
		display: block;
		float: none;
	}


	.menu_block_link {
		font-size: 26px;
		font-weight: 600;
	}


	.partners_block {
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.partners_image {
		margin: 10px;
	}

	.whoWeAre_leftBlock {
		float: none;
		width: 100%;
		padding-right: 0;
	}

	.whoWeAre_rightBlock {
		float: none;
		width: 100%;
		margin-top: 50px;
	}
	.stories_rightBlock {
		float: none;
		width: 100%;
		padding-left: 0;
	}
	.stories_leftBlock {
		float: none;
	    width: 100%;
	    margin-top: 50px;
	}
	.model_leftBlock {
		width: 100%;
		float: none;
		padding-right: 0;
	}

	.model_rightBlock {
		width: 100%;
		float: none;
		margin-top: 50px;
	}
	.model_leftBlock_item {
	    font-size: 16px;
	}

	.offer_par {
		padding: 0
	}

	.whoWeAre,
	.stories,
	.model,
	.offer,
	.articles,
	.comments {
		padding: 50px 20px !important;
	}

	.subheader_about .subheader_title {
		font-size: 60px;
	}
	.text_block_text br {
		display: none;
	}
	.aboutUs_block_leftBox_title {
		padding: 20px 20px 0 0;
    	font-size: 30px;
	}
	.aboutUs_block_rightBox {
		padding: 0;
    	padding-left: 30px;
	}
	.management_block_box {
		width: 35%;
		margin-bottom: 50px;
	}
	.facility_block_box-1 {
		width: 67%;
	}
	.facility_block_box-2 {
		width: 33%;
	}

	.facility_block_box-3 {
		display: none;
	}
	.facts_block {
		flex-direction: row;
	}

	.facts_block_box {
		width: 100%;
	    padding: 0 30%;
	    margin-bottom: 20px;
	}

	.coverage_block_box {
		    width: 42%;
		margin-bottom: 50px;
	}
	.coverage_block_box:first-child {
		width: 20%;
	}
	.coverage_block_box:nth-child(2) {
		width: 50%;
	}

	.coverage_block_box:nth-child(3) {
		width: 32%;
	}

	.dream {
		min-height: 250px;
	}

	.dream_subtitle {
		font-size: 35px
	}

	.dream_title {
		font-size: 35px;
		font-weight: 600;
		margin-bottom: 30px;
	}
	.join_title {
	    font-size: 35px;
	    font-weight: 600;
	    margin-bottom: 50px;
	    color: #fff;
	}

	.doForYou_block_box {
	    width: 50%;
	    margin-bottom: 50px;
	}
	.tales_block_box {
		float: none;
	    width: 100%;
	    margin: 0;
	    margin-bottom: 30px;
	}
	.getStart_form {
		width: 90%;
	}

	.serve_block_box {
		width: 49%;
	}
	.serve_block_box-1 {
		width: 49%;
	}
}

@media only screen and (max-width: 768px) {
	.header_logo {
	     margin-left: 10px;
	}
	.header_call li:last-child {
		display: none;
	}
	.subtitle_slider .item .item_block {
		width: 80%;
	}
	.subtitle_slider_subtitle {
		font-size: 22px;
	}
	.subtitle_slider_title {
	    font-size: 32px;
	}
	.comments_box_text {
		font-size: 14px;
	}
	.comments_block {
		flex-direction: column;
	}
	.comments_box {
		width: 100%;
		margin-bottom: 30px;
	}
	.comments_title {
		font-size: 26px;
	}
	.footer_menu_about {
		display: none;
	}
	.footer_menu_automotive {
		width: 50%;
	}
	.contact_title {
		font-size: 26px;
	}
	.aboutUs_block_leftBox {
		float: none;
	    width: 100%;
	    text-align: left;
	}
	.aboutUs_block_leftBox_title {
		padding-top: 0;
	}
	.aboutUs_block_leftBox_title br {
		display: none;
	}
	.aboutUs_block_rightBox {
		float: none;
		width: 100%;
		padding: 0;
		margin-top: 30px;
	}

	.management_block_box {
		width: 80%
	}
	.facility_block_box-1 {
		width: 100%;
	}
	.facility_block_box-2 {
		width: 100%;
	}
	.facts_block_box {
	    padding: 0 25%;
	}
	.join_block {
		position: absolute;
		top: 10%;
		left: 20%;
		transform: translate(0,0);
	}
	.dream {
		background-position-x: 100%;
	}
	.subheader_title {
		font-size: 60px;
	}
	.aboutk_item {
		width: 170px;
	}
	.aboutk_item:first-child {
		margin-right: 0;
	}
	.about_leftBlock_image {
		float: none;
    	width: 100%;
		margin-bottom: 30px;
	}

	.about-verticals .about_leftBlock_image img {
		display: inline-block;
	}
	.about_leftBlock_image .about_leftBlock_img {
		margin-left: 10% !important;
	}
	.about_leftBlock_text {
		width: 100%;
	}
	.study {
	    background-position-x: 100%;
	}
}

@media only screen and (max-width: 480px) {
	.menu_hidden {
	    top: 88px;
	}
	.header_call {
		display: none;
	}
	.subtitle_slider_title br {
		display: none
	}

	.subtitle_slider .item {
	    min-height: 400px;
	}
	.subtitle_slider_title {
	    font-size: 22px;
	}
	.subtitle_slider_subtitle {
	    font-size: 14px;
	}
	.block_title {
		font-size: 26px;
	}
	.whoWeAre_leftBlock_title {
		font-size: 16px;
	}
	.whoWeAre_leftBlock_par {
	   font-size: 14px;
	}
	.whoWeAre_leftBlock_link {
		padding: 6px 10px;
	}
	.model_leftBlock_menu  {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.model_leftBlock_item {
	    font-size: 15px;
	}
	.model_leftBlock_link {
		padding: 6px 10px;
	}
	.articles_leftBlock {
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}
	.articles_rightBlock {
		float: none;
		width: 100%;
	}
	.footer_menu_automotive {
		display: none;
	}
	.footer_menu_company {
		width: 75%;
	}
	.comments_box_text {
		padding-top: 20px;
	}
	.coverage_block_box:first-child {
		min-width: 160px;
	}

	.coverage_block_box:nth-child(2) {
		min-width: 310px;
	}

	.coverage_block_box:nth-child(3) {
		    min-width: 250px;
	}
	.coverage_block_box:last-child {
	    min-width: 250px;
	}
	.facts_block_box_year {
		font-size: 40px;
	}
	.facts_block_box_separator {
    	width: 200px;
	}
	.join_block {
		left: 10%;
	}
	.join_title {
		font-size: 25px;
	}
	.join_subtitle {
	    font-size: 30px;
	}

	.subheader {
    	min-height: 250px;
	}

	.subheader_title {
		font-size: 40px;
	}
	.about-verticals .about_leftBlock_image {
		padding: 0;
	}
	.about_leftBlock_image .about_leftBlock_img {
	    margin-left: 0% !important;
	}
	.doForYou_block_box {
	    width: 100%;
	}
	.serve_block_box {
		width: 100%;
	}
	.serve_block_box-1 {
		width: 100%;
	}

}
@media only screen and (max-width: 400px) {
	.offer_link {
		padding: 7px 15px;
	}
	.articles_leftBlock_title, .articles_rightBlock_title {
		padding: 10px 0px 5px;
	    font-size: 14px;
	}
	.articles_leftBlock_subtitle, .articles_rightBlock_subtitle {
	    padding: 5px 0px 5px;
	}
	.comments_title {
	    font-size: 18px;
	}
	.comments_subtitle {
	    font-size: 14px;
	}
	.tales_block_text {
	    font-size: 16px;
	}

}
