body {
	font-family: 'AvenirBook';
    background-color: #fff;
}

@font-face {
	font-family: 'AvenirBook';
	src: url('../fonts/Avenir-Book.eot');
	src: url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Avenir-Book.woff2') format('woff2'),
		url('../fonts/Avenir-Book.woff') format('woff'),
		url('../fonts/Avenir-Book.ttf') format('truetype'),
		url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	outline: none !important;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: #000;
}

.h1, .h2, .h3, h1, h2, h3,.h4, .h5, .h6, h4, h5, h6, ul, p {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

img {
	width: 100%;
}


/* HEADER  */



.header {
	padding-top: 10px;
	padding-bottom: 5px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 10;
	background: #fff;
}
.header_logo {
	float: left;
	max-width: 120px;
	margin-right: 10px;
    margin-left: 50px;
}

.header_menu .header_item {
	display: inline-block;
}

.header_menu .header_item .hedaer_link {
	display: block;
	padding: 33px 15px 25px;
	cursor: pointer;
	font-weight: 600;
	color: #585f75;
}
.header_menu .header_item .hedaer_link:hover {
	color: #000;
}

.header_lang,
.header_call {
	float: right;
}

.header_call {
	margin-right: 20px;
}
.header_call li {
	display: inline-block;
	padding: 33px 5px 25px;
	font-weight: 600;
	color: #585f75;
}

.header_call li a {
	font-size: 16px;
}

.header_lang li {
	display: inline-block;
	padding: 33px 5px 25px;
}

.subtitle_slider {
	margin-top: 97px;
}


.subtitle_slider .item {
	padding: 100px 0;
	width: 100%;
	min-height: 500px;
	background: url("../img/Layer-510.png") no-repeat;
	background-size: cover;
	position: relative;
}
.subtitle_slider .item .item_block {
    width: 55%;
	margin: 0 auto;
}

.subtitle_slider_title {
	font-size: 60px;
	color: #fff;
	text-transform: uppercase;
}
.subtitle_slider_subtitle {
	font-size: 32px;
	color: #cccccc;
}

.subtitle_slider_subtitle span {
	text-transform: uppercase;
	color: #fff;
}

.item_block_button {
	display: block;
	margin: 70px auto 0;
	padding: 15px 70px;
	background-color: #cc4688;
	border: none;
	color: #fff;
	border-radius: 30px;
	transition: .2s;
}
.item_block_button:hover {
	color: #fff;
	box-shadow: 0 0 10px 0px #cc4688;
	transition: .2s;
}

.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 0px;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}

.header_form {
	float: right;
	display: block;
	margin: 19px 10px 0 0;
	padding: 15px;
	color: #fff;
	background-color: #cc4688;
	border-radius: 30px;
	cursor: pointer;
}
.header_form:hover {
	color: #fff;
}





.hide_button {
	display: none;
}
.menu_hidden {
	display: none;
}



#map {
	height: 500px;
	width: 100%;
}

/* HEADER END  */




/* PARTNERS BLOCK */

.partners {
	text-align: center;
	padding: 15px 0;
}

.partners_block {
	display: flex;
	justify-content: space-between;
}

.partners_image {
	width: auto;
    height: 30px;
}



/* PARTNERS BLOCK END */

.block_title {
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	color: #343e5c;
	letter-spacing: 4px;
}


/* WHO WE ARE */

.whoWeAre {
	background-color: #e4e5e7;
	padding: 70px 0;
}



.whoWeAre_block {
    margin-top: 70px;
}

.whoWeAre_leftBlock {
	width: 55%;
	float: left;
	padding-right: 49px;
}

.whoWeAre_rightBlock {
	width: 45%;
    float: left;
}

.whoWeAre_leftBlock_title {
	padding-top: 40px;
	color: #333333;
	font-size: 26px;
	letter-spacing: 3px;
}

.whoWeAre_leftBlock_par {
	margin: 30px 0;
	color: #333;
	font-size: 16px;
	letter-spacing: 1px;
}

.whoWeAre_leftBlock_link {
	padding: 12px 20px;
	background-color: #1f6d90;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 30px;
	transition: .2s;

}
.whoWeAre_leftBlock_link:hover {
	color: #fff;
	box-shadow: 0 0 10px 0px #1f6d90;
	transition: .2s;
}

/* WHO WE ARE END */

/* Stories  */

.stories {
	background-color: #e4e5e7;
	padding: 70px 0;
}


.stories_block {
	margin-top: 70px;
}


.stories_leftBlock {
	width: 50%;
    float: left;
    padding-right: 50px;
}

.stories_rightBlock {
	width: 50%;
    float: right;
    padding-left: 20px;
}
.stories_rightBlock .stories_rightBlock_image {
	width: auto !important;
}

.stories_rightBlock_par {
	margin-top: 20px;
	color: #333;
	font-size: 16px;
	letter-spacing: 1px;
}

.stories_rightBlock_par span {
    font-weight: 600;
}

.stories_slider .owl-nav {
	position: absolute;
	right: 25%;
	bottom: 20px;
	transform: translateX(50%);
}
.stories_slider .owl-prev {
	position: relative;
	left: -50px;
	background-color: transparent !important;
}
.stories_slider .owl-next {
	position: relative;
	right: -50px;
	background-color: transparent !important;
}
.stories_slider .owl-dots {
	position: absolute;
	right: 25%;
	bottom: 30px;
	transform: translateX(50%);
}


/* Stories END  */

/* MODEL  */

.model {
	background-color: #e4e5e7;
	padding: 70px 0;
}

.model_block {
	margin-top: 70px;
}

.model_leftBlock {
	width: 55%;
	float: left;
	padding-right: 49px;
}

.model_rightBlock {
	width: 45%;
    float: left;
}

.model_leftBlock_menu {
    margin-top: 10px;
}

.model_leftBlock_item {
	display: inline-block;
    margin-right: 18px;
	margin-bottom: 20px;
	text-transform: capitalize;
	border-bottom: 2px solid transparent;
	color: #000;
	font-size: 18px;
	letter-spacing: 1px;
	cursor: pointer;
}
.model_leftBlock_item:hover,
.model_leftBlock_item:focus,
.model_leftBlock_item.current {
	border-bottom: 2px solid;
	color: #1f6d90;
	font-weight: 800;
}
.tab-content{
	display: none;
}

.tab-content.current{
	display: inherit;
}

.model_leftBlock_par {
	font-size: 16px;
    letter-spacing: 1.6px;
    margin-bottom: 20px;
}

.model_leftBlock_par-2 {
	margin-bottom: 90px;
}

.model_leftBlock_link {
	padding: 12px 20px;
	background-color: #1f6d90;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 30px;
}
.model_leftBlock_link:hover {
	color: #fff;
	box-shadow: 0 0 10px 0px #1f6d90;
	transition: .2s;
}

/* MODEL END  */

/* OFFER  */

.offer {
	background-color: #e4e5e7;
	padding: 70px 0;
    text-align: center;
}


.offer_par {
	text-align: left;
	margin: 50px 0;
	font-size: 16px;
	padding: 0 30px;
	letter-spacing: 2px;
}

.offer_link {
	padding: 15px 55px;
	color: #fff;
	text-transform: uppercase;
	background-color: #cc4688;
	border-radius: 30px;
	transition: .2s;
}
.offer_link:hover {
	color: #fff;
    box-shadow: 0 0 10px 0px #cc4688;
    transition: .2s;
}



/* OFFER END  */

/* ARTICLES  */

.articles {
	background-color: #e4e5e7;
	padding: 70px 0;
}



.articles_block {
	margin-top: 30px;
}

.articles_leftBlock {
	float: left;
	width: 50%;
}

.articles_rightBlock {
	float: left;
	width: 50%;
}

.articles_leftBlock_title,
.articles_rightBlock_title {
	padding: 20px 30px 5px;
	font-size: 17px;
	font-weight: 600;
}

.articles_leftBlock_subtitle,
.articles_rightBlock_subtitle {
	padding: 5px 30px 5px;
    font-size: 14px;
}


/* ARTICLES END  */

/* COMMENTS */

.comments {
	background-color: #fff;
	padding: 50px 0;
}

.comments_title {
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	text-transform: capitalize;
	color: #222328;
	letter-spacing: 2px;
}

.comments_subtitle {
	margin-top: 15px;
	text-align: center;
	font-size: 16px;
	text-transform: capitalize;
	color: #b9bed1;
	letter-spacing: 0.5px;
}

.comments_block {
	margin-top: 70px;
	margin-top: 70px;
	display: flex;
	justify-content: space-around;
}

.comments_box {
	width: 30%;
}

.comments_box_image {
    float: left;
}

.comments_box_image img {
	width: auto;
}

.comments_box_info {
	float: left;
	padding-left: 20px;
}

.comments_box_name {
	font-size: 14px;
	line-height: 2;
	text-transform: capitalize;
}

.comments_box_position {
    color: #b9bed1;
}

.comments_box_text {
	clear: both;
	padding-top: 40px;
	font-size: 16px;
	color: #343e5c;
	letter-spacing: 3px;
}


/* COMMENTS END */

/* FOOTER */

.footer {
	background-color: #999999;
	padding: 70px 0;
}

.footer_menu {
	float: left;
}
.footer_menu_company {
	width: 35%;
}

.footer_menu_about {
    width: 23%;
}

.footer_menu_automotive {
	width: 35%;
}

.footer_menu_icons {
	width: 5%;
}
.footer_item a {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	line-height: 2.5;
	cursor: pointer;
}

.footer_menu_icons .footer_item {
	text-align: right;
	padding-right: 50px;
	margin-bottom: 10px;
}

.footer_item img {
	width: auto;
}

.footer_company {
	display: block;
	clear: both;
	font-size: 16px;
	color: #fff;
}

/* FOOTER END */

/* FORM */

.form {
	background-color: #f3f3f3;
	padding: 50px 0;
	margin-top: 97px;
}

.form_links {
	padding: 0 15px;
}

.form_links_item {
	display: inline-block;
	position: relative;
}

.form_links_item:after {
	content: '>';
	position: absolute;
	top: 0;
	right: 0;
	color: #a4a4a4;

}
.form_links_item:last-child .form_links_link {
	color: #000;
}

.form_links_item:last-child:after {
	content: '';
}

.form_links_link {
	color: #a4a4a4;
	cursor: pointer;
	margin-right: 15px;
}

.form_links_link:hover {
	color: #333;
}

.form_block_title {
	margin: 60px 0 30px;
}

.form_input  {
	width: 100%;
	margin-bottom: 35px;
	padding: 20px 25px;
	font-size: 18px;
	font-weight: 200;
	color: #666666;
	letter-spacing: 1px;
    background-color: #cccccc;
    border: none;
    border-radius: 3px;
}

.input_file {
    position: relative;
}

.input_file span {
    display: block;
	position: relative;
    z-index: 1;
    padding: 20px 45px;
	cursor: pointer;
}
.input_file input {
	position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
	cursor: pointer;
}

.form_robot {
	text-align: center;
    margin-bottom: 45px;
}

.form_robot_image {
	width: auto;
}

.form_submit {
	display: block;
	margin: 0 auto;
	padding: 15px 100px;
	color: #fff;
	background-color: #cc4688;
	border: none;
	border-radius: 30px;
	cursor: pointer;
}

/* FORM END */

/* CONTACTS */

.contacts {
	background-color: #f3f3f3;
	padding: 100px 0 50px;
	text-align: center;
}

.contact_title {
	font-size: 36px;
	letter-spacing: 3px;
}

.contacts_block {
    margin-top: 30px;
}

.contacts_block_title {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 1.5;
}
.contacts_block_info {
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 1.5;
}

.clearfix {
	clear: both;
}
/* CONTACTS END */




@media only screen and (max-width: 1400px) {
	.subtitle_slider .item .item_block {
		width: 70%;
	}
}
@media only screen and (max-width: 1300px) {
	.subtitle_slider_title {
	    font-size: 50px
	}
}
@media only screen and (max-width: 1025px) {

	.header_menu .header_item .hedaer_link {
		padding: 33px 7px 25px;
	}
	.subtitle_slider_title {
		font-size: 40px;
	}
	.subtitle_slider_subtitle {
		font-size: 24px;
	}
	.whoWeAre_leftBlock_title br {
		display: none;
	}
	.whoWeAre_leftBlock_title {
		padding-top: 0;
	}
	.stories_slider .owl-nav {
		position: static;
	    transform: translateX(0);
		display: none;
	}
	.stories_slider .owl-dots {
		position: absolute;
		right: 0;
		left: 0;
		bottom: -50px;
		transform: translateX(0);
	}
	.model_leftBlock {
		padding-right: 20px;
	}
	.model_leftBlock_item {
		font-size: 14px;
	}
	.model_leftBlock_par {
		font-size: 14px;
	}
	.model_leftBlock_par-2 {
	    margin-bottom: 40px;
	}
}

@media only screen and (max-width: 992px) {
	.header_lang {
		display: none;
	}
	.header_menu {
		display: none;
	}
	.header {
		position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: auto;
	    z-index: 10;
	    background: #fff;
	}
	.hide_button {
		display: block;
		float: right;
		padding-top: 30px;
		cursor: pointer;
	}
	.menu_hidden {
		display: none;
	    position: fixed;
	    top: 97px;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(255,255,255,.9);
	    z-index: 10;
		text-align: center;
	}
	.menu_block {
	   margin-top: 30px;
	}
	.menu_block_item {
		padding: 10px;
	}
	.menu_hidden .header_call {
		float: none;
	}

	.menu_hidden .header_lang {
		display: block;
		float: none;
	}


	.menu_block_link {
		font-size: 26px;
		font-weight: 600;
	}


	.partners_block {
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.partners_image {
		margin: 10px;
	}

	.whoWeAre_leftBlock {
		float: none;
		width: 100%;
		padding-right: 0;
	}

	.whoWeAre_rightBlock {
		float: none;
		width: 100%;
		margin-top: 50px;
	}
	.stories_rightBlock {
		float: none;
		width: 100%;
		padding-left: 0;
	}
	.stories_leftBlock {
		float: none;
	    width: 100%;
	    margin-top: 50px;
	}
	.model_leftBlock {
		width: 100%;
		float: none;
		padding-right: 0;
	}

	.model_rightBlock {
		width: 100%;
		float: none;
		margin-top: 50px;
	}
	.model_leftBlock_item {
	    font-size: 16px;
	}

	.offer_par {
		padding: 0
	}

	.whoWeAre,
	.stories,
	.model,
	.offer,
	.articles,
	.comments {
		padding: 50px 20px !important;
	}
}

@media only screen and (max-width: 768px) {
	.header_logo {
     margin-left: 10px;
}
	.subtitle_slider .item .item_block {
		width: 80%;
	}
	.subtitle_slider_subtitle {
		font-size: 22px;
	}
	.subtitle_slider_title {
	    font-size: 32px;
	}
	.comments_box_text {
		font-size: 14px;
	}
	.comments_block {
		flex-direction: column;
	}
	.comments_box {
		width: 100%;
		margin-bottom: 30px;
	}
	.comments_title {
		font-size: 26px;
	}
	.footer_menu_about {
		display: none;
	}
	.footer_menu_automotive {
		width: 50%;
	}
	.contact_title {
		font-size: 26px;
	}
}

@media only screen and (max-width: 480px) {
	.menu_hidden {
	    top: 88px;
	}
	.header_call {
		display: none;
	}
	.subtitle_slider_title br {
		display: none
	}

	.subtitle_slider .item {
	    min-height: 400px;
	}
	.subtitle_slider_title {
	    font-size: 22px;
	}
	.subtitle_slider_subtitle {
	    font-size: 14px;
	}
	.block_title {
		font-size: 26px;
	}
	.whoWeAre_leftBlock_title {
		font-size: 16px;
	}
	.whoWeAre_leftBlock_par {
	   font-size: 14px;
	}
	.whoWeAre_leftBlock_link {
		padding: 6px 10px;
	}
	.model_leftBlock_menu  {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.model_leftBlock_item {
	    font-size: 15px;
	}
	.model_leftBlock_link {
		padding: 6px 10px;
	}
	.articles_leftBlock {
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}
	.articles_rightBlock {
		float: none;
		width: 100%;
	}
	.footer_menu_automotive {
		display: none;
	}
	.footer_menu_company {
		width: 75%;
	}
	.comments_box_text {
		padding-top: 20px;
	}
}
@media only screen and (max-width: 400px) {
	.offer_link {
		padding: 7px 15px;
	}
	.articles_leftBlock_title, .articles_rightBlock_title {
		padding: 10px 0px 5px;
	    font-size: 14px;
	}
	.articles_leftBlock_subtitle, .articles_rightBlock_subtitle {
	    padding: 5px 0px 5px;
	}
	.comments_title {
	    font-size: 18px;
	}
	.comments_subtitle {
	    font-size: 14px;
	}

}
