<mat-card>
    <span>Edit profile</span>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="saveUserData()" [formGroup]="userForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput 
                    name="nickname" 
                    type="email"
                    placeholder="Your name" 
                    formControlName="name">
        </mat-form-field>
        <div class="change-image">
                <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
                <input type="file" #filePicker (change)="onImagePicked($event)" accept="image/*">
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview" >
                <img (click)="filePicker.click()" [src]="imagePreview" [alt]="userForm.value.title">
        </div>
        <mat-form-field>
        <input matInput 
                name="email"
                type="email" 
                placeholder="E-Mail" 
                formControlName="email" 
                email>
        <mat-error *ngIf="userForm.controls.email.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        
        <!-- <mat-form-field>
        <input type="password" 
                name="password"
                matInput 
                placeholder="Password"
                formControlName="password">
        <mat-error *ngIf="userForm.controls.password.invalid">Please enter a valid password.</mat-error>
        </mat-form-field> -->
        <button *ngIf="!isLoading" 
                mat-raised-button 
                color="accent" 
                type="submit" 
                [disabled]="userForm.invalid">
                    Update profile
            </button>
    </form>
    </mat-card>