body {
  background: #fff;
}
header {
  margin: 5px 0 0 200px;
  font-family: Arial;
  font-weight: bold;
}
.wrapper {
  margin: 40px auto 0;
  position: relative;
  width: 50%;
  height: 550px;
  background: #fff;
  border: 1px solid grey;
  box-shadow: inset 2px -2px 9px 0 rgba(0,0,0,0.37);
  border-radius: 10px;
  padding-left: 70px;
}
.success {
    display: inline-block;
    padding: 6px 12px;
    margin-left: 100px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.danger {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.modal{
  position:absolute;
  top:50%;
  left:50%;
  width:500px;
  height:300px;
  margin:-150px 0 0 -250px;
  padding:20px;
  background:#000;
  opacity: 0.9;
  border:1px solid #000;
  border-radius:5px;
  box-shadow: 0  0 10px #bbb, 0 0 10px #bbb;
}
.modal button{
  margin: 70px auto 0;
  padding: 5px;
  border: 1px solid #398439;
  border-radius: 1px;
  background:#449d44;
  color:#fff;
  font-size:12px;
}
.modal p{
  margin:10px;
  padding:5px;
  border-radius:5px;
  font-size:14px;
}
.correct{
  background:#449d44;
}
.incorrect{
  background:#ec971f;
}
