mat-form-field {
    width: 100%;
}

mat-spinner {
    margin: auto;
}

.changePasswordForm {
    position: relative;
}

.changePasswordForm button {
    margin-top: 20px;
}

.form-errors {
    position: absolute;
    display: block;
    margin-bottom: 10px;
    color: red;
    font-size: 11px;
}
  