<mat-card>
  <span>Change password</span>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading"
        (submit)="cheangePassword()" 
        [formGroup]="changePasswordForm" 
        class="changePasswordForm">
    <mat-form-field>
      <input matInput 
             name="email" 
             formControlName="password"
             type="password" 
             placeholder="Enter password">
      <mat-error *ngIf="changePasswordForm.controls.password.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" 
             name="password" 
             formControlName="repeatPassword"
             matInput 
             placeholder="Repeat password">
      <mat-error *ngIf="changePasswordForm.controls.repeatPassword.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <span *ngIf="changePasswordForm.errors || changePasswordForm.errors?.mismatch"
          class="form-errors">
      Password doesn't match
    </span>
    <button *ngIf="!isLoading"
            mat-raised-button
            [disabled]="changePasswordForm.invalid" 
            color="accent" 
            type="submit" 
            >Submit</button>
  </form>
  
</mat-card>
