$black = #000000;
$white = #ffffff;
$orange = #ff6200;
$orangeHover = #e05904;
$orangeText = #be3600;
$headerBg = #ededed;
$darkGrey = #313131;
$navLink = #333333;
$navLinkHover = #454545;
$navigationLink = #929292;
$navigationLinkAcive = #222222;
$mainText = #878787;
$hr = #3d3d3d;
$reachText = #595959;
$borderMenu = rgba(0, 1, 1, 0.38);


$phoneS = "only screen and (max-width: 320px)";
$phone = "only screen and (max-width: 480px)";
$phoneSE = "only screen and (max-width: 400px)";
$phoneAl = "only screen and (max-width: 600px)";
$tablet = "only screen and (max-width: 768px)";
$ultraB = "only screen and (max-width: 991px)";
$tabletW = "only screen and (max-width: 990px)";
$ultra = "only screen and (max-width: 1024px)";
$laptop = "only screen and (max-width: 1400px)";
$s1200 = "only screen and (max-width: 1200px)";
$notebook = "only screen and (max-width: 1367px)";