body {
	
	background: url(../img/work.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
}

@font-face {
	font-family: "OpenSansExtraBold";
	src: url("../font/OpenSansExtraBold.ttf");
}
.header {
	display: block;
	font-family: 'OpenSansExtraBold';
	font-size: 25px;
	margin-bottom: 10px;
}
.header--one {
	text-align: center;
	margin: 40px 0 20px 0;
}
.header--two,
.header--three {
	text-align: center;
	margin-bottom: 5px;
}
 
.container > p {
	text-align: center;
	margin: 15px 0 5px 0;
	font-family: 'OpenSansExtraBold';
	font-size: 22px;

}
.container__list{
	text-align: center;
}
.container__list > li {
	margin-top: 15px;
}
.container__link {
	text-decoration: none;
	margin-top: 10px;
	font-family: 'OpenSansExtraBold';
	font-size: 14px;
	color: #000;
}
.container__link:hover {
	font-style: italic;
	text-shadow: 0px 0px 12px rgba(45, 45, 45, 1);
}
