
@font-face {
    font-family: 'LucidaSansUnicode';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/LucidaSansUnicode.ttf") format('truetype');
    src: url("../fonts/LucidaSansUnicode.eot") format("embedded-opentype");
    src: url("../fonts/LucidaSansUnicode.svg");
    src: url("../fonts/LucidaSansUnicode.woff") format('woff');
}
.clear {
  margin-top: 10px;
}
.phone:before {
    content: "";
    background: url(../img/phone.png) no-repeat;
    position: absolute;
    height: 25px;
    width: 21px;
    margin-left: -25px;
    margin-top: -2px;
}
.phone {
    float: left;
    width: 294px;
    height: 20px;
    margin: 13px 0 0 249px;
    font-family: Arial;
    font-size: 19px;
    color: #5e696d;
}
.form {
    float: left;
    width: 492px;
    height: 25px;
    margin: 7px 0 0 -12px;
    border: 1px solid #1a5879;
    background: rgba(26, 88, 121, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(26, 88, 121, 1) 0%, rgba(26, 87, 120, 1) 2%, rgba(14, 55, 91, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(26, 88, 121, 1)), color-stop(2%, rgba(26, 87, 120, 1)), color-stop(100%, rgba(14, 55, 91, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(26, 88, 121, 1) 0%, rgba(26, 87, 120, 1) 2%, rgba(14, 55, 91, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(26, 88, 121, 1) 0%, rgba(26, 87, 120, 1) 2%, rgba(14, 55, 91, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(26, 88, 121, 1) 0%, rgba(26, 87, 120, 1) 2%, rgba(14, 55, 91, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(26, 88, 121, 1) 0%, rgba(26, 87, 120, 1) 2%, rgba(14, 55, 91, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a5879', endColorstr='#0e375b', GradientType=1);
    -webkit-box-shadow: 2px 2px 6px -3px rgba(150, 150, 150, 1);
    -moz-box-shadow: 2px 2px 6px -3px rgba(150, 150, 150, 1);
    box-shadow: 2px 2px 6px -3px rgba(150, 150, 150, 1);
    border-radius: 3px;
    font-family: arial;
    font-size: 12px;
}
.form form {
     padding-left: 23px;
 }
.form img {
    position: absolute;
    padding: 4px 0 0 6px;
}
.form input {
    width: 107px;
    height: 11px;
    margin: 4px 5px 2px 0;
    padding-bottom: 0;
    padding-top: 2px;
    padding-left: 2px;
    font-family: arial;
    font-size: 11px;
}
.enter {
    padding-right: 5px;
    border-right: 1px solid white;
    font-size: 11px;
    color: white;
    margin-left: -1px;
    letter-spacing: 0.5px;
}
.registr {
    margin-left: 1px;
    font-size: 11px;
    color: white;
    letter-spacing: 0.5px;
}
.forget {
  margin-left: 15px;
  font-size: 11px;
  border-bottom: 1px solid #d3d3d3;
  color: #d3d3d3;
  letter-spacing: 0.5px;
}
.upmenu {
    float: left;
    width: 75px;
    height: 20px;
    margin: 9px 0 0 18px;
    border: 1px solid grey;
    border-radius: 50px 50px 50px 50px;
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.33);
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.33);
    border: 1px solid #5e5b5e;
}
.upmenu img {
    padding-left: 8px;
}
.mainimg {
    float: left;
    margin: 10px 0 0 218px;
}

.nav {
    float: left;
    margin-left: 216px;
    position: relative;
    background-image: -webkit-linear-gradient(top, #2A2E32 0%, #010101 100%);
    border-radius: 6px;
    width: 912px;
    height: 33px;
    margin-top: 4px;
    font-family: 'LucidaSansUnicode';
    -webkit-box-shadow: 3px 7px 15px 0px rgba(0,0,0,1);
    -moz-box-shadow: 3px 4px 15px 0px rgba(0,0,0,1);
    box-shadow: 3px 4px 15px 0px rgba(0,0,0,1);
}

.navleft ul {
    width: 100%;
    list-style: none;
    margin-left: 127px;

    display: inline-block;
}
.navleft {
  width: 640px;
}
.navleft li {
    float: left;
    font-size: 14px;
    font-weight: 300;
    color: #b1bcc0;
    text-decoration: none;
    border-radius: 14px;
}
.navleft li:hover {
  cursor: pointer;
  transition: 0.1s;
  color: white;
  background-color: #13486b;
}
.navleft li:nth-child(1) {
  padding: 8px 15px 4px 20px;
  margin-top: 3px;
}
.navleft li:nth-child(2) {
  padding: 8px 15px 4px 17px;
  margin-top: 3px;
}
.navleft li:nth-child(3) {
  padding: 8px 15px 4px 14px;
  margin-top: 3px;
}
.navleft li:nth-child(4) {
  padding: 8px 15px 4px 14px;
  margin-top: 3px;
}
.navleft li:nth-child(5) {
  padding: 8px 15px 4px 9px;
  margin-top: 3px;
}
.navleft a {
  color: #b1bcc0;
  text-decoration: none;
}
.navright {
  float: right;
  width: 228px;
  margin-top: 2px;
}
.navright img {
  position: absolute;
  margin-top: 5px;
}
.bin {
  width: 210px;
  display: inline-block;
  margin: 8px 0 0 25px;
  color: white;
  font-size: 10px;
}
.bin span {
  padding-left: 3px;
  letter-spacing: 0.5px;
}
.product {
  margin: 0px 8px 0px -4px;
  font-size: 12px;
  color: #1e88d2;
}
.price {
  margin-left: 5px;
  font-size: 12px;
  color: #1e88d2;
}
.extrahome {
  float: left;
  margin: 9px 0 0 217px;
}

.mainclearfix {
  float: left;
  margin-left: 217px;
  margin-top: 10px;
}
aside {
  float: left;
}
section {
  float: left;
}
.sidebar {
    float: left;
    width: auto;
    position: relative;
}

.sidebartitle {
    border: 1px solid #949fa4;
    border-radius: 12px;
    -webkit-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    position: relative;
    height: 25px;
}

.sidebartitletext {
    color: #114165;
    font-family: 'LucidaSansUnicode', Arial;
    font-size: 13px;
    display: inline-block;
    padding: 7px 2px 3px 27px;
}

.sidebartitle img {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
}

.filter {
    position: relative;
    margin-top: 13px;
    width: 149px;
    border: 1px solid #949fa4;
    border-radius: 12px;

}

.filter img {
    position: absolute;
    margin-top: 1px;
    margin-left: 5px;
}

.sidebarsubtitle {
    color: #114165;
    font-family: 'LucidaSansUnicode', Arial;
    font-size: 15px;
    display: inline-block;
    padding: 6px 9px 5px 29px;
}

.sidebarli {
    list-style: circle;
    margin-top: -4px;
    padding-left: 53px;
}
.sidebarli li {
  margin-top: 7px;
}
.sidebarli a {
    padding-left: -1px;
    color: #114165;
    font-family: 'LucidaSansUnicode', Arial;
    font-size: 12px;
    text-decoration: none;
    padding-bottom: 2px;
}


.sidebarli a:hover {
  font-size: 13px;
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
  font-family: 'LucidaSansUnicode';
  transition: 0.1s;
}

.content {
    width: 526px;
    background-image: -webkit-linear-gradient(top, #E5E7E8 0%, #93a7b0 100%);
    border-radius: 3px;
    margin: -3px 10px;
    float: left;
    height: 627px;
}

.sidebar button {
    width: 82px;
    height: 26px;
    background-color: #195779;
    border-radius: 15px;
    border-style: none;
    margin: 12px 23px;
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.33);
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.33);
    background: linear-gradient(to bottom, #3a748e, #2b4b69);
}

.sidebar button:hover {
    cursor: pointer;
}

.sidebar button span {
    color: #e5e9ea;
    font-size: 12px;
    display: inline-block;
    padding: 0px 6px;
    font-family: 'LucidaSansUnicode', Arial;

}

.listnone {
    list-style: none;
}

.margin {
    margin-left: 20px;
}

span.brand {
    color: #114165;
    font-family: 'LucidaSansUnicode', Arial;
    font-size: 15px;
    display: inline-block;
    padding: 3px 6px 2px 15px;
}

span.brand:hover {
    cursor: pointer;
}

.contentwrap {
    width: 100%;
    padding: 0 30px;
}

.item {
    margin: 15px 32px 9px -7px;
    display: inline-block;
}

.item strong {
    display: block;
    font-family: 'Lucida Sans Unicode', Arial;
    color: #206988;
    font-size: 16px;
    text-align: center;
    padding-right: 6px;
}

.item span {
    display: block;
    font-family: 'LucidaSansUnicode', Arial;
    font-size: 13px;
    text-align: center;
    color: black;
    padding-left: 2px;
}

.itemimg {
    background-color: white;
    border: 1px solid #b0b9bc;
    border-radius: 7px;
    display: table;
}

.itemimg img {
    padding: 4px 35px 4px 27px;
    display: table-cell;
}

span.prices {
    color: #114165;
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    margin-top: 3px;
    margin-left: 16px;
}

.item a {
    text-decoration: none;
}

.item a:hover {
    cursor: pointer;
}

.logoswrap {
  float: left;
    width: auto;
    margin: 42px 0 21px 334px;
}

.logos {
    text-align: center;
    width: auto;
}

.logos img {
    padding-right: 9px;
}

.logos a{
    display: inline-block;
    vertical-align: middle;
}

.logos a:hover {
    cursor: pointer;
}

footer {
    padding-top: 9px;
    width: 910px;
    background-color: #213a4d;
    overflow: hidden;
    margin: 0 217px;
}

a.footerborder {
    border-right: 1px solid transparent;

}

footer ul {
    list-style: none;
    background-color: #213a4d;
}

footer li {
    display: inline-block;

}

.footer {
    text-align: center;
}

footer li a {
    display:block;
    background-color: #213a4d;
    color: #bec6c9;
    text-decoration: none;
    font-size: 12px;
    border-right: 2px solid #7f8e97;
    font-family: 'LucidaSansUnicode', Arial;
    line-height: 10px;
    margin-left: -2px;
    margin-right: -2px;
    padding-left: 11px;
    padding-right: 11px;
}

footer li a:hover {
    cursor: pointer;
    color: #52abcb;
}
footer li:nth-child(2){
  margin-right: 2px;
}

.copyright{
    color: #7f4740;
    font-size: 10px;
    font-family: 'LucidaSansUnicode', Arial;
    display: block;
    padding: 15px 1px 40px 0px;
    text-align: center;
}
