body {
    background-color: #fff;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('../font/LiberationSans-Regular-webfont.eot');
    src: url('../font/LiberationSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/LiberationSans-Regular-webfont.woff') format('woff'),
         url('../font/LiberationSans-Regular-webfont.ttf') format('truetype'),
         url('../font/LiberationSans-Regular-webfont.svg#liberation_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
