* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}



/*MAIN*/



main {
    display: block;
    width: 100%;
    z-index: 0;
}

.portfolio-container {
    width: 100%;
    overflow: hidden;
    background: url(../images/reviews-bg.jpg) repeat;
    padding-bottom: 50px;
}


.portfolio-container .portfolio-title {
    text-align: center;
    font: 200 24px/46px Roboto,sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 45px;
    margin-top: 20px;

}
        span {
        color: #ca8132;
    }

        img {
        margin: 0 auto;
        width: 10px;
        height: 10px;
    }

.portfolio-container .portfolio-widget {
    display: block;
    text-align: center;
    position: relative;
}

.portfolio-container .tablet-js {
        display: none;
    }

.portfolio-container .mobile-js {
    display: none;
}

.slick-slider {
    margin-bottom: 30px;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}


/*??????????????????????????????????*/


.slick-initialized .slick-slide {
    display: block;
}


.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

.carousel {
    position: relative;
}

.portfolio-container .portfolio-widget .slick-list {
    width: 1200px!important;
    margin: auto;
    overflow: visible;
}

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
    opacity: 1;
    width: 6000px;
    transform: translate3d(0px, 0px, 0px);
}


.portfolio-container .portfolio-widget>div .slick-slide.slick-active {
    opacity: 1;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}

.portfolio-container .portfolio-widget>div .slick-slide {
    opacity: .2;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}

.portfolio-container .portfolio-widget .big-image {
    height: 630px;
    width: 58.3%;
}

.portfolio-container .portfolio-widget .big-image>div {
    position: relative;
    height: inherit;
    cursor: pointer;
    overflow: hidden;
}

.portfolio-container .portfolio-widget .big-image>div .description-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 270px;
    background: rgba(54,54,54,.9);
    padding: 50px 36px;
    cursor: default;
    z-index: 1;
}

.portfolio-container .portfolio-widget .big-image>div .zoom-image {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.portfolio-container .portfolio-widget .big-image>div .description-container .title {
    font: 100 36px/48px Roboto, sans-serif;
    color: #fff;
    float: left;
}

.portfolio-container .portfolio-widget .big-image>div .description-container .title>div:first-child {
    position: relative;
    margin-bottom: 31px;
    float: left;
}

.portfolio-container .portfolio-widget .big-image>div .description-container .title>div h4 {
    margin: 0;
    display: inline-block;
    padding-bottom: 5px;
    color: inherit;
    font: inherit;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.portfolio-container .portfolio-widget .big-image>div .description-container .title>div:first-child:after {
    position: absolute;
    top: 83%;
    left: 0;
    content: "+";
    display: block;
    margin: 10px 0;
    margin-left: 10px;
    color: #fff;
    font-size: 30px;
    line-height: 18px;
    opacity: .5;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.portfolio-container .portfolio-widget .description-container .description_nav {
    display: block;
    clear: both;
    padding-top: 54px;
}

.portfolio-container .portfolio-widget .description-container .tab {
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}


.portfolio-container .portfolio-widget .description-container .tab a {
    text-decoration: none;
    background: 0 0;
    padding: 0;
    font: 11px/15px Roboto,sans-serif;
    color: #b7b079;
    border-bottom: 1px dotted rgba(183,176,121,.5);
    padding-top: 15px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box; 
}

.portfolio-container .portfolio-widget .description-container .tab a.active,
.portfolio-container .portfolio-widget .description-container .tab a:hover {
    text-decoration: none;
    border: none;
    color: #fff;

}
.portfolio-container .portfolio-widget .description-container .tab a.active::before {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px dotted #fff;
    position: relative;
    left: 40%;
}

.portfolio-container .portfolio-widget .description-container .tabs-content {
    padding-top: 30px;
    font: 300 11px/18px Roboto,sans-serif;
}

.portfolio-container .portfolio-widget .description-container .tabs-content div:before {
    float: left;
    content: "''";
    width: 15px;
    height: 15px;
    display: block;
    color: #faf
}

.portfolio-container .portfolio-widget .description-container .tabs-content div {
    color: #fff;
    float: left;
    text-align: left;
    line-height: 16px;
}




/*222222222222222222222222222222222222222222222222*/

.portfolio-container .portfolio-widget .preview {
    height: 630px;
    width: 41.7%;
}

.portfolio-container .portfolio-widget .preview>div:first-child {
    margin-bottom: 30px;
}

.portfolio-container .portfolio-widget .preview>div {
    position: relative;
    height: 300px;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    overflow: hidden;
}

.portfolio-container .portfolio-widget .preview>div .title {
    width: 30%;
    position: absolute;
    top: 35px;
    right: 15px;
    font: 100 24px/20px Roboto,sans-serif;
    color: #fff;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.portfolio-container .portfolio-widget .preview>div:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -o-transition: background .5s ease;
    transition: background .5s ease;
}


.portfolio-container .portfolio-widget .preview>div .title>div:first-child {
    position: relative;
    margin-bottom: 23px;
}

.portfolio-container .portfolio-widget .preview>div .title h4 {
    color: inherit;
    font: inherit;
    margin: 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.portfolio-container .portfolio-widget .preview>div .title>div:first-child:after {
    position: absolute;
    left: 50%;
    bottom: -17px;
    display: block;
    margin-left: -10px;
    content: "+";
    color: #fff;
    font-size: 30px;
    line-height: 18px;
    font-weight: 100;
    opacity: .5;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.portfolio-container .portfolio-widget .preview>div .title h4 {
    color: inherit;
    font: inherit;
    margin: 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.portfolio-container .portfolio-widget .preview>div .zoom-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.portfolio-container .portfolio-widget .slick-dots li {
    width: 36px;
    height: 20px;
    padding: 0;
    margin: 1px;
    background: url(../images/bullet-bg.png) 0 0 no-repeat;
    
}









@media (min-width: 992px) {
    .col-md-7 {
        width: 58.3%;
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, 
    .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
    .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
}

@media (min-width: 768px) {
    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, 
    .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, 
    .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
}

@media (min-width: 992px) {
    .portfolio-container .portfolio-widget .slick-active .zoom-image {
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }

    .portfolio-container .portfolio-widget .slick-active .zoom-image:hover {
        -webkit-transform: scale(1.04,1.04);
        -moz-transform: scale(1.04,1.04);
        -o-transform: scale(1.04,1.04);
        -ms-transform: scale(1.04,1.04);
        transform: scale(1.04,1.04);
    }
}

@media (min-width: 992px) {
    .col-md-5 {
        width: 41.7%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {

    .portfolio-container .tablet-js {
        display: block;
    }

    .portfolio-container .desktop-js {
        display: none;
    }

    .portfolio-container .mobile-js {
        display: none;
    }

    .portfolio-container {
        padding-bottom: 100px;
    }

    .portfolio-container .portfolio-widget {
    margin: auto;
    overflow: visible;
    }

    .slick-track {
        width: 6780px;
        
    }

    .portfolio-container .portfolio-widget .big-image {
        width: 100%;
    }

    .portfolio-container .portfolio-widget .slick-dots>li:nth-child(odd) {
        width: 20px;
        height: 22px;
        background: url(../images/bullet-big-bg.png) center no-repeat;
    }

    .portfolio-container .portfolio-widget .slick-dots>li:nth-child(even) {
        width: 14px;
        height: 22px;
        background: url(../images/bullet-small-bg.png) center no-repeat;
    }

}

@media (max-width: 767px) {

    .portfolio-container .tablet-js {
        display: none;
    }

    .portfolio-container .desktop-js {
        display: none;
    }

    .portfolio-container .mobile-js {
        display: block;
    }

    .portfolio-container .portfolio-title {
        font: 300 14px/24px Roboto,sans-serif;
    }

    .portfolio-container .portfolio-title span {
        display: block;
    }

    .portfolio-container .portfolio-widget {
        max-width: 420px!important;
        margin: auto;
        overflow: visible;
    }

    .portfolio-container .portfolio-widget .slick-track>div {
        height: 320px;
        position: relative;
    }

    .portfolio-container .portfolio-widget .slick-track [data-image] {
        height: 300px;
    }

    .portfolio-container .portfolio-widget .slick-track>div .description-container {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        padding: 0;
    }

    .portfolio-container .portfolio-widget>div .slick-slide.slick-active.mobile-preview .title {
        opacity: 1;
        -webkit-transition: opacity 1.5s ease-in;
        -moz-transition: opacity 1.5s ease-in;
        -o-transition: opacity 1.5s ease-in;
        transition: opacity 1.5s ease-in;
    }

    .portfolio-container .portfolio-widget .slick-track>div .description-container .title>div:first-child {
        position: relative;
    }

    .portfolio-container .portfolio-widget .slick-track>div .description-container .title>div {
        display: inline-block;
        padding: 10px 30px;
    }

    .portfolio-container .portfolio-widget .slick-track>div .description-container .title>div h4 {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        font-size: 18px;
        color: #FFF;
        font-family: inherit;
        line-height: 1.1;
        font-family: Roboto, sans-serif;
        font-weight: 200;

    }

    .portfolio-container .portfolio-widget .slick-track>div .description-container .title>div:first-child:after {
        position: absolute;
        right: -10px;
        top: 50%;
        content: "+";
        margin: 0;
        margin-top: -10px;
        color: #8c8c8c;
        font-size: 35px;
        line-height: 18px;
        font-weight: 100;
    }

    .portfolio-container .portfolio-widget .slick-track>div .description-container:after {
        clear: both;

    }

    .portfolio-container .portfolio-widget .slick-track>div .description-container:before, 
    .portfolio-container .portfolio-widget .slick-track>div .description-container:after {
        content: " ";
        display: table;
    }



    .portfolio-container .portfolio-widget .slick-prev, 
    .portfolio-container .portfolio-widget .slick-next {
        top: auto;
        padding: 2.5px;
    }

    .portfolio-container .portfolio-widget .slick-prev {
        position: absolute;
        bottom: -10px;
        left: 90px;
    }

    .portfolio-container .portfolio-widget .slick-prev.slick-disabled, 
    .portfolio-container .portfolio-widget .slick-next.slick-disabled {
        opacity: .2;
    }

    .portfolio-container .portfolio-widget .slick-next {
        position: absolute;
        bottom: -10px;
        right: 50px;
    }

    .portfolio-container .portfolio-widget .slick-prev img, 
    .portfolio-container .portfolio-widget .slick-next img {
        width: 10px;
        height: 10px;
        fill: #999;
    }

}




.col-xs-12 {
    width: 100%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, 
.col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, 
.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}






.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}












 /*SLICK-dots*/


.portfolio-widget .slick-dots
{
    position: relative;
    top: 20px;

    display: block;
    margin: 0 auto;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.portfolio-widget .slick-dots li
{
    position: relative;


    display: inline-block;

    width: 36px;
    height: 20px;
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;

    cursor: pointer;
}
.portfolio-widget .slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
}

.portfolio-widget .slick-dots>li.slick-active {
    border: 1px solid #b7b079;
    -webkit-transition: border 1s;
    -moz-transition: border 1s;
    -o-transition: border 1s;
    transition: border 1s;
}


.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: 0 0;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: 0;

}










/* Slider */
/*.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; touch-action: none; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url(http://i.imgur.com/YWGUhK4.gif) center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
*/
/* Icons */
/*@font-face { font-family: "slick"; src: url("https://www.codedevelopr.com/screenshots/2014/slick.eot"); src: url("https://www.codedevelopr.com/screenshots/2014/slick.eot?#iefix") format("embedded-opentype"), url("https://www.codedevelopr.com/screenshots/2014/slick.woff") format("woff"), url("https://www.codedevelopr.com/screenshots/2014/slick.ttf") format("truetype"), url("https://www.codedevelopr.com/screenshots/2014/slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }*/
/* Arrows */
./*slick-prev, .slick-next { position: absolute; display: block; height: 20px; width: 20px; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 50%; margin-top: -10px; padding: 0; border: none; outline: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.85; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: -25px; }
.slick-prev:before { content: '\2190'; }

.slick-next { right: -25px; }
.slick-next:before { content: '\2192'; }
*/
/* Dots */
/*.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0px; width: 100%; }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0px 5px; padding: 0px; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; outline: none; }
.slick-dots li button:focus { outline: none; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: '\2022'; width: 20px; height: 20px; font-family: "slick"; font-size: 6px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { opacity: 0.75; }
*/


/*.slick-slide > .slick-slider-img{
    margin: 10px;
    padding: 2%;
    position: relative;
    border: 5px solid #FFF;
    display: block;
    width: 100%;
}
.slick-slide .image {
padding: 10px;
height: 180px;
}

.slick-slide img {
display: block;
width: 100%;
}
.slick-slide img.slick-loading { display: none; }*/